{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} Store Traffic Configuration
{% endblock title %}
{% block stylesheets %}
<style>
    .cdr {
    border: 1px solid grey;
    border-radius: 10px;
    padding-left: 18px;
    }
    .accordion-item:first-of-type .accordion-button {
        /* background: lightblue; */
        color: black;
        font-weight: 600;
        border: 5px solid lightblue;
        margin-top: 10px;
    }
    .inputform{
      padding: 5px 0px 5px 5px;
      border: none;
      border-bottom: 1px solid #ccc;
      margin-left: 15px;
    }
    .inputform:focus{
      outline: none;
    }
    .modal-content {
    width: 140%;}
    </style>
{% endblock stylesheets %}


{% block content %}
<div class="accordion-item mt-2">
    <h2 class="accordion-header  " id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <span>Live Store Capture Configuration Form</span>
      </button>
    </h2>
    <!-- accordian  -->
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
          <div class="accordion-body">
    <!-- accordian  -->
    <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6 mt-2">
        <div class="flocation">
        <label for="marketName" class="dropdown">Choose Store</label>
            <select class="cdr" id="stName"  name="stName">
          {% for s in store_name %}
            <option value="{{s}}">{{s}}</option>
          {% endfor %}
          </select>
        </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6 mt-2">
      <div class="flocation">
          <label for="marketName" class="dropdown mr-2">Store UID</label>
          <select class="cdr ml-2" id="storeUID" name="data">
            <!-- {% for uid in store_UID %} -->
          <!-- {% endfor %} -->
            </select>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 mt-2">
        <div class="flocation">
        <label for="marketName" class="dropdown">Technology:</label>
            <select class="cdr ml-3" id="technology"  name="snap">
          {% for t in tech %}
            <option value="{{t}}">{{t}}</option>
          {% endfor %}
          </select>
        </div>
  </div>
    <div class="col-lg-4 col-md-6 col-sm-6 mt-2">
        <div class="flocation">
        <label for="marketName" class="dropdown mr-2">Channel:</label>
            <select class="cdr ml-4" id="channel"  name="channel">
          {% for cl in channel_list %}
            <option value="{{cl}}">{{cl}}</option>
          {% endfor %}
          </select>
        </div>
  </div>
    <div class="col-lg-4 col-md-6 col-sm-6 mt-2">
        <div class="flocation">
        <label for="marketName" class="dropdown mr-2">Username</label>
            <select class="cdr" id="username"  name="username">
          {% for ru in rtsp_user %}
            <option value="{{ru}}">{{ru}}</option>
          {% endfor %}
          </select>
        </div>
  </div>
    <div class="col-lg-4 col-md-6 col-sm-6 mt-2">
        <div class="flocation">
        <label for="marketName" class="dropdown mr-2">Password</label>
            <select class="cdr" id="password"  name="password">
          </select>
        </div>
  </div>
    <div class="col-lg-4 col-md-6 col-sm-6 mt-2">
        <div class="flocation">
        <label for="marketName" class="dropdown mr-2">Server</label>
            <select class="cdr ml-2" id="Server"  name="Server">
          {% for s in server %}
            <option value="{{s}}">{{s}}</option>
          {% endfor %}
          </select>
        </div>
  </div>
    <div class="col-lg-4 col-md-6 col-sm-6 mt-2">
        <div class="flocation">
          <label for="store_ip">Store IP</label>
        <input class="inputform" type="text" placeholder="Enter Store IP" id="st_ip">
        </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="flocation">
        <button class="btn btn-primary" id="submit_conf">Submit</button>
  </div>
</div>
</div>
</div>
</div>
</div>
<div class="row py-2">
  <div class="col">
      <button class="btn btn-primary" id="exportcsv">Export CSV</button>
        <div class="card">
            <div class="table-responsive">      
<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" >
    <thead>
        <tr>
            <th>Market Name</th>
            <th>Store Names</th>
            <th>Store UID</th>
            <th>Module Name</th>
            <th>server_ip</th>
            <th>flag</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for ls in Capture_live_stores %}
        <tr>    
            <td>{{ls.market_name}}</td>
            <td>{{ls.store_name}}</td>
            <td>{{ls.store_UID}}</td>
            <td>{{ls.module_name}}</td>
            <td>{{ls.server_ip}}</td>
            <td>{{ls.flag}}</td>
            <td><button class="btn btn-primary btnEdit" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button></td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
    </table>
            </div>
        </div>  
    </div>
</div>
<div>
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" >
  Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Capture Configuration Modification</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 mt-2">
            <label for="market_name">Market:</label>
              <input type="text" id="mn">
          </div>
            <div class="col-lg-4 col-md-6 col-sm-6 mt-2">
            <label for="market_name">Store:</label>
              <input type="text" id="sn">
          </div>
            <div class="col-lg-4 col-md-6 col-sm-6 mt-2">
            <label for="market_name">UID:</label>
              <input type="text" id="uid">
          </div>
            <div class="col-lg-4 col-md-6 col-sm-6 mt-2">
            <label for="market_name">SIP:</label>
              <input type="text" id="sip">
          </div>
            <div class="col-lg-4 col-md-6 col-sm-6 mt-2">
            <label for="market_name">SerIP:</label>
              <input type="text" id="serip">
          </div>
            <div class="col-lg-4 col-md-6 col-sm-6 mt-2">
            <label for="market_name">Tech:</label>
              <input type="text" id="tech">
          </div>
            <div class="col-lg-4 col-md-6 col-sm-6 mt-2">
            <label for="market_name">Channel:</label>
              <input type="text" id="chnel">
          </div>
            <div class="col-lg-4 col-md-6 col-sm-6 mt-2">
            <label for="market_name">User:</label>
              <input type="text" id="user">
          </div>
            <div class="col-lg-4 col-md-6 col-sm-6 mt-2">
            <label for="market_name">Password:</label>
              <input type="text" id="pass">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="update_change">Save changes</button>
      </div>
    </div>
  </div>
</div>
  <!-- for practice in editing -->
{% endblock content %}

{% block javascripts %}
<script>
  $("#exportcsv").on("click", function(){
    var table = $("#dataTable").DataTable();
    var data = table.rows().data().toArray();
    var column_names =["market_name","store_name","store_UID","server_ip","threshold","confidence","snaps_path","flag"];
    var csv = '"' + column_names.join('","') + '"\r\n';
    for(var i = 0; i < data.length; i++){
        csv += data[i].join(",") + "\n";
    }
    var csvData = 'data:application/csv;charset=utf-8,' + encodeURIComponent(csv);
    var csvAnchor = document.createElement('a');
    csvAnchor.setAttribute("href", csvData);
    csvAnchor.setAttribute("download", "capture_configuration_report.csv");
    csvAnchor.click();
});
</script>
<!-- work for datatable getting UID from table -->
<script>
$(document).ready(function() {
  $(".btnEdit").on("click",function(){
    var crrentRow = $(this).closest("tr");
    var uid2 = crrentRow.find("td:eq(2)").text();
    $.ajax({
            url: "{% url 'get_live_config_data_by_UID' %}",
            type: "GET",
            data: {
              uid: uid2,
            },
            success: function(data){
              console.log('whati s data from success ', data)
              $.each(data, function(index, item){
              $.each(item, function(index, cap_data){
                market=cap_data.market_name;
                store_n=cap_data.store_name;
                st_uid=cap_data.store_UID;
                st_ip=cap_data.store_ip;
                server_ip = cap_data.server_ip;
                tech=cap_data.tech_name;
                channel = cap_data.chennal;
                user= cap_data.user_name;
                pass= cap_data.password;
                get_data_from_DB(market,store_n,st_uid,st_ip,server_ip,tech,channel,user,pass);
              })
              })
            }
        })
  })
function get_data_from_DB(market,store_n,st_uid,st_ip,server_ip,tech,channel,user,pass){
    $("#mn").val(market)
    $("#sn").val(store_n)
    $("#uid").val(st_uid)
    $("#sip").val(st_ip)
    $("#serip").val(server_ip)
    $("#tech").val(tech)
    $("#chnel").val(channel)
    $("#user").val(user)
    $("#pass").val(pass)
}
    });
</script>
<!-- work for datatable getting UID -->
<!-- working for update Query -->
<script>
$(document).ready(function() {
  $("#update_change").on("click",function(){
    market=$("#mn").val()
    store=$("#sn").val()
    user_id= $("#uid").val()
    store_ip= $("#sip").val()
    server = $("#serip").val()
    tech = $("#tech").val()
    channel = $("#chnel").val()
    user = $("#user").val()
    password = $("#pass").val()
    $.ajax({
            url: "{% url 'update_live_capture_data' %}",
            type: "GET",
            data: {
              market: market,
              store: store,
              user_id: user_id,
              store_ip: store_ip,
              server: server,
              tech: tech,
              channel: channel,
              user: user,
              password: password,
            },
            success: function(data){
              location.reload()
              alert("Data Updated Successfully",data)  
            }
          })
  })
})
</script>
  <!-- working for update Query -->

<script>
    $(document).ready(function(){
    $('#stName').on("change",function(){
        store=$('#stName').children('option:selected').val();
        $.ajax({
            url: "{% url 'get_Capture_Store' %}",
            type: "GET",
            data: {
                store: store,
            },
            success: function(data){
              data = data.storeUID
                getData(data)
            }
        });
        function getData(data){
        let store=document.getElementById('storeUID')
        while(store.firstChild){
            store.removeChild(store.firstChild)
        }
            data.forEach((d)=>{
            let option = document.createElement("option")
            store.appendChild(option)
            option.textContent = d
            })
            // }
            // )
        }
    });
    });
</script>
<script>
  // get rtsp user name from user 
  // capture_configuration
  $(document).ready(function(){
    $('#username').on("change",function(){
        rtsp_user=$('#username').children('option:selected').val();
        $.ajax({
            url: "{% url 'retrieve_rtsp_password' %}",
            type: "GET",
            data: {
              rtsp_user: rtsp_user,
            },
            success: function(data){
              data = data.rtsp_password
              get_user_Data(data)
            }
        });
        function get_user_Data(data){
        let store=document.getElementById('password')
        while(store.firstChild){
            store.removeChild(store.firstChild)
        }
            data.forEach((d)=>{
            let option = document.createElement("option")
            store.appendChild(option)
            option.textContent = d
            })
        }
    });
    });
</script>
<script>
    $(document).ready(function (){
        $("#submit_conf").on("click",function(){
            store=$('#stName').children('option:selected').val();
            storeUID=$('#storeUID').children('option:selected').val();
            technology=$('#technology').children('option:selected').val();
            channel=$('#channel').children('option:selected').val();
            username=$('#username').children('option:selected').val();
            password=$('#password').children('option:selected').val();
            Server=$('#Server').children('option:selected').val();
            store_ip = $("#st_ip").val();
            $.ajax({
                url: "{% url 'get_capture_config_data' %}",
                type: "GET",
                data: {
                    store: store,
                    storeUID: storeUID,
                    technology: technology,
                    channel: channel,
                    username: username,
                    password: password,
                    Server: Server,
                    store_ip: store_ip,
                },
                success: function(data){
                  location.reload()
                }
            });
        });
    })
</script>
<link href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/fixedcolumns/3.2.0/css/fixedColumns.dataTables.min.css" rel="stylesheet" />
<script>
$(document).ready(function () {
$('#dataTable').DataTable();
});
</script>

{% endblock javascripts %}
