{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} Configuration App
{% endblock title %}

{% block stylesheets %}
<style>
    h2{
        font-family: 'Times New Roman', Times, serif;
        font-size: 30px;
        font-weight: 600;
        /* background-color: rgba(255, 99, 132, 1); */
    }
    @keyframes example {
        0%   {left:20px; top:0px;}
        /* 25%  {left:200px; top:0px;}
        50%  {left:200px; top:200px;}
        75%  {left:0px; top:200px;}
        100% {left:0px; top:0px;} */
    }

</style>
{% endblock stylesheets %}

{% block content %}
{% include 'configuration/navinclude.html' %}
<div class="row">      
    <div class="col-md-4">
        <div class="card">
            <div class="card-title align-self-center">
                <h2>Store Traffic Configuration</h2>
                <p>Date: {{Recent_date}}</p>
            </div> 
            <div>
                <canvas id="myChart" width="400" height="400"></canvas>
            </div>
                <!-- <div class="align-items-center text-center "> -->
                    <!-- <svg class="svg-inline--fa fa-school fa-w-20 my-0" style="width: 50px;" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="school" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" data-fa-i2svg=""><path fill="currentColor" d="M0 224v272c0 8.84 7.16 16 16 16h80V192H32c-17.67 0-32 14.33-32 32zm360-48h-24v-40c0-4.42-3.58-8-8-8h-16c-4.42 0-8 3.58-8 8v64c0 4.42 3.58 8 8 8h48c4.42 0 8-3.58 8-8v-16c0-4.42-3.58-8-8-8zm137.75-63.96l-160-106.67a32.02 32.02 0 0 0-35.5 0l-160 106.67A32.002 32.002 0 0 0 128 138.66V512h128V368c0-8.84 7.16-16 16-16h96c8.84 0 16 7.16 16 16v144h128V138.67c0-10.7-5.35-20.7-14.25-26.63zM320 256c-44.18 0-80-35.82-80-80s35.82-80 80-80 80 35.82 80 80-35.82 80-80 80zm288-64h-64v320h80c8.84 0 16-7.16 16-16V224c0-17.67-14.33-32-32-32z"></path></svg><i class="fa fa-school my-4" style="font-size: 70px;"></i> Font Awesome fontawesome.com -->
                <!-- </div>                 -->
            <div class="d-flex justify-content-between">
                <a href="{% url 'store_configuration' %}"><button class="btn btn-primary">Add Configuration</button></a>
                <a href="#"><button id="hide_show" class="btn btn-primary">Click to Know More</button></a>   
            </div>
                <div class="card-body cardb" style="display: none;">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                        <td>Total Stores:</td>
                        <td >{{grand_total_stores}}</td>
                        
                    </tr>
                    <tr>
                        <td>Live Stores</td>
                        <td> {{totallivestores}} </td>
                    </tr>
                    <tr>
                        <td>today total live data</td>
                        <td> {{today_total_live_data}} </td>
                    </tr>
                    <tr>
                        <td>live store on Server 3</td>
                        <td>{{total_live_on_server_3}}</td>
                    </tr>
                    <tr>
                        <td>Total Live Stores on Server 7</td>
                        <td>{{total_live_on_server_7}}</td>
                    </tr>
                    <tr>
                        <td>Recent Data on Server 3</td>
                        <td>{{data_on_TODAY_in_3}}</td>
                    </tr>
                    <tr>
                        <td>Recent Data on server 7</td>
                        <td>{{data_on_TODAY_in_7}}</td>
                    </tr>
                    <tr>
                        <td>Error Stores on server 3</td>
                        <td>{{Errors_in_3}}</td>
                    </tr>
                    <tr>
                        <td>Error Stores on server 7</td>
                        <td>{{Errors_in_7}}</td>
                    </tr>
                    <tr>
                        <td>Recent Date of execution</td>
                        <td> <a href=""> {{Recent_date}} </a> </td>
                    </tr>
                    <tr>
                        <td colspan="2"><a href="{% url 'store_configuration' %}">Configuration</a></td>
                    </tr>

                </tbody></table>
            </div>
        </div>                
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-title align-self-center">
                <h2>Capture Configuration</h2>
                <p>Date: {{capture_date}}</p>
            </div> 
            <div>
                <canvas id="captureChart" width="400" height="400"></canvas>
            </div>    
            <div class="d-flex justify-content-between">
                <a href="{% url 'capture_configuration' %}"><button class="btn btn-primary">Add Configuration</button></a>
                <a href="#"><button id="capture_hide_show" class="btn btn-primary">Click to Know More</button></a>   
            </div>             
            <div class="card-body capture_card_body" style="display: none;">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                        <td>Total Stores:</td>
                        <td>{{total_store}}</td>
                    </tr>
                    <tr>
                        <td>Total live Stores</td>
                        <td> {{totalLive}} </td>
                    </tr>
            
                    <tr>
                        <td>Total live Stores on Server 4</td>
                        <td>{{server_4_data}}</td>
                    </tr>
                    <tr>
                        <td>Total live Stores on Server 8</td>
                        <td>{{server_8_data}}</td>
                    </tr>
                    <tr>
                        <td>Total Recent live Data</td>
                        <td>{{TODAYLive}}</td>
                    </tr>
                    <tr>
                        <td>Recent data on Server 4</td>
                        <td>{{today_data_store_4}}</td>
                    </tr>
                    <tr>
                        <td>Recent data on Server 8</td>
                        <td>{{today_data_store_8}}</td>
                    </tr>
                    <tr>
                        <td>Error Stores in server 4 </td>
                        <td>{{errorstore_4}}</td>
                    </tr>
                    <tr>
                        <td>Error Stores in server 8 </td>
                        <td>{{errorstore_8}}</td>
                    </tr>
                    <tr>
                        <td>Recent Date of execution </td>
                        <td> <a href=""> {{capture_date}}  </a> </td>
                    </tr>
                    <tr>
                        <td colspan="2"><a href="{% url 'capture_configuration' %}">Configuration</a></td>
                    </tr>

                </tbody>
            </table>
            </div>
        </div>                
    </div>
</div>
{% endblock content %}

{% block javascripts %}
<script>
$("#hide_show").click(function(){
    $(".cardb").toggle();
});
$("#capture_hide_show").click(function(){
    $(".capture_card_body").toggle();
});

const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'line',
        data: {
        labels: ['Total Stores:', 'today total live data','Live store on Server 7', 'live store on Server 3', 'Error Stores in server 7 ', 'Error Stores in server 3'],
        datasets: [
        {
        label: 'Configured Data',
        data: [{{grand_total_stores}},{{today_total_live_data}} ,{{total_live_on_server_7}},{{total_live_on_server_3}}, {{Errors_in_7}}, {{Errors_in_3}}],
        borderColor: 'rgba(54, 162, 235, 1)',
        backgroundColor: 'rgba(54, 162, 235, 0.5)',
        stack: 'combined',
        type: 'bar'
        },
        {
        label: 'Current Data',
        data: [{{totallivestores}},{{today_total_live_data}} ,{{data_on_TODAY_in_7}}, {{data_on_TODAY_in_3}}, {{Errors_in_7}}, {{Errors_in_3}}],
        borderColor: 'rgba(255, 99, 132, 1)',
        // backgroundColor: 'rgba(255, 99, 132, 0.2)',
        stack: 'combined'
        }
        ]
        },
        options: {
            plugins: {
            title: {
                display: true,
                text: 'Chart.js Stacked Line/Bar Chart'
            }
            },
            scales: {
            y: {
                stacked: true,   
            }
            }
        },
        });
    </script>
<script>
    // capture graph 
    const ctx1 = document.getElementById('captureChart').getContext('2d');
    const myChart1 = new Chart(ctx1, {
        type: 'line',
        data: {
        labels: ['Total Stores:','Today live Data' ,'Total live Stores on Server 4', 'Total live Stores on Server 8', 'Error Stores in server 4','Error Stores in server 8'],
        datasets: [
        {
        label: 'Configured Data',
        data: [{{total_store}},{{TODAYLive}},{{server_4_data}},{{server_8_data}}, {{errorstore_4}}, {{errorstore_8}}],
        borderColor: 'rgba(54, 162, 235, 1)',
        backgroundColor: 'rgba(54, 162, 235, 0.5)',
        stack: 'combined',
        type: 'bar'
        },
        {
        label: 'Current Data',
        data: [{{totalLive}},{{TODAYLive}} , {{today_data_store_4}}, {{today_data_store_8}}, {{errorstore_4}}, {{errorstore_8}}],
        borderColor: 'rgba(255, 99, 132, 1)',
        // backgroundColor: 'rgba(255, 99, 132, 0.2)',
        stack: 'combined'
        }
        ]
        },
        options: {
            plugins: {
            title: {
                display: true,
                text: 'Chart.js Stacked Line/Bar Chart'
            }
            },
            scales: {
            y: {
                stacked: true,   
            }
            }
        },
        });

    // capture graph 
</script>
{% endblock javascripts %}

