<nav class="navbar navbar-expand-lg navbar-light bg-light txt_clr">
    <a class="navbar-brand" href="#">Configuration App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
   
  </nav>