{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} Store Traffic Configuration
{% endblock title %}
{% block stylesheets %}
<style>
    .cdr {
    border: 1px solid grey;
    border-radius: 10px;
    padding-left: 18px;
    }
    .accordion-item:first-of-type .accordion-button {
        /* background: lightblue; */
        color: black;
        font-weight: 600;
        border: 5px solid lightblue;
        margin-top: 10px;
    }
    </style>
{% endblock stylesheets %}


{% block content %}
<div class="accordion-item mt-2">
    <h2 class="accordion-header  " id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <span>Live Store Configuration Form</span>
      </button>
    </h2>
    <!-- accordian  -->
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
          <div class="accordion-body">
    <!-- accordian  -->
    <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6 mt-2">
        <div class="flocation">
        <label for="marketName" class="dropdown">Choose Store</label>
            <select class="cdr" id="stName"  name="stName">
          {% for s in store_name %}
            <option value="{{s}}">{{s}}</option>
          {% endfor %}
          </select>
        </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6 mt-2">
      <div class="flocation">
          <label for="marketName" class="dropdown mr-2">Store UID</label>
          <select class="cdr ml-2" id="storeUID" name="data">
            <!-- {% for uid in store_UID %} -->
          <!-- {% endfor %} -->
            </select>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 mt-2">
        <div class="flocation">
        <label for="marketName" class="dropdown">snap</label>
            <select class="cdr ml-3" id="snap"  name="snap">
          {% for sn in snap %}
            <option value="{{sn}}">{{sn}}</option>
          {% endfor %}
          </select>
        </div>
  </div>
    <div class="col-lg-4 col-md-6 col-sm-6 mt-2">
        <div class="flocation">
        <label for="marketName" class="dropdown mr-2">thresh</label>
            <select class="cdr ml-4" id="thresh"  name="thresh">
          {% for th in thresh %}
            <option value="{{th}}">{{th}}</option>
          {% endfor %}
          </select>
        </div>
  </div>
    <div class="col-lg-4 col-md-6 col-sm-6 mt-2">
        <div class="flocation">
        <label for="marketName" class="dropdown mr-2">confidence</label>
            <select class="cdr" id="confidence"  name="confidence">
          {% for confi in confidence %}
            <option value="{{confi}}">{{confi}}</option>
          {% endfor %}
          </select>
        </div>
  </div>
    <div class="col-lg-4 col-md-6 col-sm-6 mt-2">
        <div class="flocation">
        <label for="marketName" class="dropdown mr-2">Server</label>
            <select class="cdr" id="Server"  name="Server">
          {% for sip in server_ip %}
            <option value="{{sip}}">{{sip}}</option>
          {% endfor %}
          </select>
        </div>
  </div>
    <div class="col-lg-4 col-md-6 col-sm-6 mt-2">
        <div class="flocation">
        <label for="marketName" class="dropdown mr-2">Module</label>
            <select class="cdr ml-2" id="Module"  name="Module">
          {% for ym in yolo_module %}
            <option value="{{ym}}">{{ym}}</option>
          {% endfor %}
          </select>
        </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="flocation">
        <button class="btn btn-primary" id="submit_conf">Submit</button>
  </div>
</div>
</div>
</div>
</div>
</div>
<div class="row py-2">
  <div class="col">
      <button class="btn btn-primary" id="exportcsv">Export CSV</button>
        <div class="card">
            <div class="table-responsive">      
<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" >
    <thead>
        <tr>
            <th>Market Name</th>
            <th>Store Name</th>
            <th>Store UID</th>
            <th>server_ip</th>
            <th>threshold</th>
            <th>confidence</th>
            <th>snaps_path</th>
            <th>flag</th>
        </tr>
    </thead>
    <tbody>
        {% for ls in live_stores %}
        <tr>    
            <td>{{ls.market_name}}</td>
            <td>{{ls.store_name}}</td>
            <td>{{ls.store_UID}}</td>
            <td>{{ls.server_ip}}</td>
            <td>{{ls.threshold}}</td>
            <td>{{ls.confidence}}</td>
            <td>{{ls.snaps_path}}</td>
            <td>{{ls.flag}}</td>
            
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        
    </table>
            </div>
        </div>  
    </div>
</div>
<div>
{% endblock content %}

{% block javascripts %}
<script>
  $("#exportcsv").on("click", function(){
    var table = $("#dataTable").DataTable();
    var data = table.rows().data().toArray();
    var column_names =["market_name","store_name","store_UID","server_ip","threshold","confidence","snaps_path","flag"];
    var csv = '"' + column_names.join('","') + '"\r\n';
    for(var i = 0; i < data.length; i++){
        csv += data[i].join(",") + "\n";
    }
    var csvData = 'data:application/csv;charset=utf-8,' + encodeURIComponent(csv);
    var csvAnchor = document.createElement('a');
    csvAnchor.setAttribute("href", csvData);
    csvAnchor.setAttribute("download", "store_configuration_report.csv");
    csvAnchor.click();
});
</script>
<script>
    $(document).ready(function(){
    $('#stName').on("change",function(){
        store=$('#stName').children('option:selected').val();
        $.ajax({
            url: "{% url 'getStore' %}",
            type: "GET",
            data: {
                store: store,
            },
            success: function(data){
                data = data.storeUID
                getData(data)
            }
        });
        function getData(data){
        let store=document.getElementById('storeUID')
        while(store.firstChild){
            store.removeChild(store.firstChild)
        }
            data.forEach((d)=>{
            let option = document.createElement("option")
            store.appendChild(option)
            option.textContent = d
            })
            // }
            // )
        }
    });
    });
</script>
<script>
    $(document).ready(function (){
        $("#submit_conf").on("click",function(){
            store=$('#stName').children('option:selected').val();
            storeUID=$('#storeUID').children('option:selected').val();
            snap=$('#snap').children('option:selected').val();
            thresh=$('#thresh').children('option:selected').val();
            confidence=$('#confidence').children('option:selected').val();
            Server=$('#Server').children('option:selected').val();
            Module=$('#Module').children('option:selected').val();
            $.ajax({
                url: "{% url 'get_config_data' %}",
                type: "GET",
                data: {
                    store: store,
                    storeUID: storeUID,
                    snap: snap,
                    thresh: thresh,
                    confidence: confidence,
                    Server: Server,
                    Module: Module,
                },
                success: function(data){
                    alert("Successful")
                }
            });
        });
    })
</script>
<link href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/fixedcolumns/3.2.0/css/fixedColumns.dataTables.min.css" rel="stylesheet" />
<script>
$(document).ready(function () {
$('#dataTable').DataTable();
});
</script>
{% endblock javascripts %}
