{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} Predictive App
{% endblock title %}

{% block stylesheets %}
<style>
.navbar{
    margin-left: -16px !important;
    /* background: #323232 !important; */
    /* color: black !important; */
}
.txt_clr a{
    /* color: #ffff !important; */
    padding-left: 5px;
}
.fdate{
    margin-right: 15px !important;
}
.fdate input{
    border: 1px solid rgb(13, 190, 187) !important;
}
.dropdown .btn-secondary{
  background: rgb(13, 190, 187) !important;
  color: #ffff !important;
  border: 1px solid rgb(13, 190, 187) !important;
}
.dropdown .btn-secondary:hover{
  background:none !important;
  color: rgb(13, 190, 187) !important;
  transition: .5s all ease-in-out;
}
.cdr{
  border: 1px solid rgb(13, 190, 187) !important;
}
canvas#breakInGraph {
    height: 550px !important;
}

</style>
{% endblock stylesheets  %}
{% block content %}
<!-- As a link -->
{% include 'Predictive/navinclude.html' %}
  <!-- dashboard main  -->
  
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 mt-2">
          <div class="flocation">
          <label for="marketName" class="dropdown">Choose a market</label>
              <select class="cdr" id="marketName"  name="marketName">
            {% for m in market %}
              <option value="{{m}}">{{m}}</option>
            {% endfor %}
            </select>
          </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 mt-2">
      <div class="flocation">
        <label for="marketName" class="dropdown">Choose a Store</label>
        <select class="cdr" id="storedata" name="data">
          <option value="">West Sunset</option>
        </select>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12  mb-3">
      <div class="flocation">
          <button class= "btn btn-primary" id="submit">Submit</button>
    </div>
  </div>
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title" style="text-align:  center;">Month wise Count</h5>
            <canvas id="breakInGraph"></canvas>
        </div>
      </div>
      </div>
      <!-- filter date graph  -->
      <div class="col-lg-6 col-md-6 col-sm-12 py-2">
        <div class="fdate py-2 px-2">
          <input type="date" id="SecondDate" class="form-control">
      </div>
    </div>
      <!-- market and store wise graph -->
      <div class="col-lg-6 col-md-12 col-sm-12">
        <!-- market store and data  -->
        <div class="d-flex justify-content-between  px-2 py-2 ">
        <!-- <div class="flocation"> -->
          <!-- <div class="col-lg-4 col-md-6 col-sm-12 mt-2"> -->
            <div class="flocation">
              <div style="display: flex;">
            <label for="market1" class="dropdown py-2 px-2">Select Market</label>
              <select class="cdr" id="market1">
                Select market
              {% for m in market %}
                <option value="{{m}}" >{{m}}</option>
              {% endfor %}
              </select>
            </div>
            </div>
<!-- 
      </div> -->
      <!-- </div> -->
        <div class="fdate py-2" >
          <input type="date" id="date" class="form-control ">
        </div>
        <button class= "btn btn-primary py-1" id="submit1">Submit</button>
    </div>
  </div>
        <!-- market  and date  -->
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Top Ten Stores</h5>
        <canvas id="multibar" width="600" height="400"></canvas>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Market Wise Count</h5>
        <!-- <canvas id="myChart" width="600" height="400"></canvas> -->
        <canvas id="myline" width="600" height="400"></canvas>
      </div>
    </div>
  </div>
</div>
<!-- dashboard main end -->
  <!-- As a heading -->
{% endblock content %}

{% block javascripts %}
<script>
// markt and date wise graph
store = []
UC = []
EC = []
LC = []
$(document).ready(function(){
  america_time = new Date().toLocaleString("en-US", {timeZone:
"America/Chicago"});
  yesterday_america = new Date(america_time)
  yesterday_america.setDate(yesterday_america.getDate()-1)
  yesterday_america.toDateString()
  am_month = yesterday_america.getMonth()+1;
  am_date = yesterday_america.getDate();
  am_year = yesterday_america.getFullYear();
  if(Object.keys(am_month).length === 0){
    am_month = "0"+am_month
  }
  am_completeDate = am_year+"-"+am_month+"-"+am_date
  market_n = $("#market1").val()
  document.getElementById("date").value = am_completeDate
    UC.splice(0, UC.length);
    EC.splice(0, EC.length);
    LC.splice(0, LC.length);
    store.splice(0, store.length);
    if(store){
      store.splice(0, store.length);
    }
  $.ajax({
              url: '{% url "Market_and_date" %}',
              type: 'GET',
              data: { market1:market_n, date1:am_completeDate },
              success: function (data) {  
                  // console.log("data from Dashboard URL in console",data)
                  $.each(data , function(index, item){
                    $.each(item, function(index,retrieveData){    
                        UC.push(retrieveData.Upper_count)
                        EC.push(retrieveData.Expected_Count)
                        LC.push(retrieveData.Lower_count)
                        store.push(retrieveData.store_name)
                    })
                  })
                    date_and_market(store, UC, EC, LC)
              }
          })

  $('#submit1').on("click",function(e){
    e.preventDefault();
    market1 = $('#market1').children('option:selected').val();
    date1 = $("#date").val();
    UC.splice(0, UC.length);
    EC.splice(0, EC.length);
    LC.splice(0, LC.length);
    store.splice(0, store.length);
    if(store){
      store.splice(0, store.length);
    }
        $.ajax({
              url: '{% url "Market_and_date" %}',
              type: 'GET',
              data: { market1:market1, date1:date1 },
              success: function (data) {
                  $.each(data , function(index, item){
                    $.each(item, function(index,retrieveData){    
                        UC.push(retrieveData.Upper_count)
                        EC.push(retrieveData.Expected_Count)
                        LC.push(retrieveData.Lower_count)
                        store.push(retrieveData.store_name)
                    })
                  })
                    date_and_market(store, UC, EC, LC)
              }
          })
        })
      })
function date_and_market(store,UC, EC, LC){
  const ctx1 = document.getElementById('myline').getContext('2d');
  const myChart1 = new Chart(ctx1, {
      type: 'line',
      data: {
          labels: store,
          datasets: [
            {
              label: "Upper Count",
              data:UC,
              backgroundColor: [
                  'rgba(75, 192, 192, 0.2)',
              ],
              borderColor: [    
                  'rgba(75, 192, 192, 1)',
              ],
              borderWidth: 1
          },
          {
              label: "Lower Count",
              data:LC,
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                 
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  
              ],
              borderWidth: 1
          },
          {
              label: "Expected Count",
              data:EC,
              backgroundColor: [
                  
                  'rgba(153, 102, 255, 0.2)',
              ],
              borderColor: [  
                  'rgba(153, 102, 255, 1)',
              ],
              borderWidth: 1
          }
        ]
      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      }
  });
}
  // Market and date wise graph
  </script>
<script>
  // graph by Date
$(document).ready(function(){
stores = []
Expect_count = []
america_time = new Date().toLocaleString("en-US", {timeZone:
"America/Chicago"});
yesterday_america = new Date(america_time)
yesterday_america.setDate(yesterday_america.getDate()-1)
yesterday_america.toDateString()
am_month = yesterday_america.getMonth()+1;
am_date = yesterday_america.getDate();
am_year = yesterday_america.getFullYear();
if(Object.keys(am_month).length === 0){
  am_month = "0"+am_month
}
am_completeDate = am_year+"-"+am_month+"-"+am_date
document.getElementById("SecondDate").value = am_completeDate
$.ajax({
      url: '{% url "DateGraph" %}',
      type: 'GET',
      data: {date1:am_completeDate},
      success: function (data) {
        $.each(data, function(index, item){
          $.each(item, function(index, st){
            stores.push(st.store_name)
            Expect_count.push(st.Expected_Count)
          })
        })
          dateGraph(stores, Expect_count)    
        }
  })
})
$("#SecondDate").on("change",function(){
date1 = $("#SecondDate").val();
stores.splice(0,stores.length)
Expect_count.splice(0,Expect_count.length)
  $.ajax({
      url: '{% url "DateGraph" %}',
      type: 'GET',
      data: {date1:date1},
      success: function (data) {
        $.each(data, function(index, item){
          $.each(item, function(index, st){
            stores.push(st.store_name)
            Expect_count.push(st.Expected_Count)
          })
        })
          dateGraph(stores, Expect_count)    
        }
  })
})
function dateGraph(stores, Expect_count){
  const ctx2 = document.getElementById('multibar').getContext('2d');
  const myChart2 = new Chart(ctx2, {
      type: 'bar',
      data: {
          labels: stores,
          datasets: [{
              label: 'Top 10 Stores ',
              data: Expect_count,
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)',
                  'rgba(0, 255, 0, 0.2)',
                  'rgba(0, 0, 255, 0.2)',
                  'rgba(0, 255, 255, 0.2)',
                  'rgba(255, 0, 255, 0.2)',
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)',
                  'rgba(0, 255, 0, 1)',
                  'rgba(0, 0, 255, 1)',
                  'rgba(0, 255, 255, 1)',
                  'rgba(255, 0, 255, 1)',
              ],
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      }
  });
}
  </script>
<script>
$(document).ready(function(){
        $('#marketName').on("change",function(){
        market = $('#marketName').children('option:selected').val();
        date1 = $("#date").val();
         $.ajax({
                url: '{% url "filter_Market" %}',
                type: 'GET',
                data: { market:market},
                success: function (data) {
                    getData(data)
                }
            })
          });
        })
</script>


<script>
// graph 

function store_Count(date, uc, lc, ec){
  // date = ["2021-01-01","2021-01-02","2021-01-03","2021-01-04","2021-01-05","2021-01-06","2021-01-07","2021-01-08","2021-01-09","2021-01-10"]
  var labels = date
        var data = {
        labels: labels,
        datasets: [{
            label: 'Maximum Traffic',
            fill:true,
            backgroundColor: 'rgba(75, 192, 192, 0.2)',
            borderColor: 'rgb(75, 192, 192)',
            data: uc,
            borderWidth: 1,
        },
        { 
            label: 'Minimum Traffic',
            fill: true,
            backgroundColor: 'rgba(255, 99, 132, 0.2)',
            borderColor: 'rgb(255, 99, 132)',
            data: lc,
            borderWidth: 1,
        },
        {
            label: 'Expected Traffic',
            fill:true,
            backgroundColor: 'rgba(54, 162, 235, 0.2)',
            borderColor: 'rgb(54, 162, 235)',
            data: ec,
            borderWidth: 1,      
        }
      ]
        };
    const ctx = document.getElementById('breakInGraph').getContext('2d');
    const myChart = new Chart(ctx, {
      // line 
      type: 'line',
          data: data,
          options: {
            responsive: true,
            plugins: {
              title: {
                display: true,
                text: 'Chart.js Line Chart'
              },
            },
            interaction: {
              mode: 'index',
              intersect: false
            },
            scales: {
              x: {
                display: true,
                title: {
                  display: true,
                  text: 'Date'
                }
              },
              y: {
                display: true,
                title: {
                  display: true,
                  text: 'Prediction'
                }
              }
            }
          },
        }
    )
  }
</script>
<script>
function getData(data){
  let store=document.getElementById('storedata')
  while(store.firstChild){
     store.removeChild(store.firstChild)
  }
  $.each(data, function (indexs, item) {
    item.forEach((d)=>{
      let option = document.createElement("option")
      store.appendChild(option)
      option.textContent = d
      })
    }
    )
  }
  
$(document).ready(function(){  
date = ["2021-12-30","2021-12-31","2022-01-01","2022-01-02", "2022-01-03 ", "2022-01-04" ,"2022-01-05", "2022-01-06", "2022-01-07", "2022-01-08"]
uc = [22,33,44,65,54,32,23,22,13,15]
lc = [15,25,40,55,45,28,20,13,08,12]
ec = [20,27,42,57,48,30,25,15,16,24]
store_Count(date, uc, lc, ec)
  $("#submit").click(function(e){
    e.preventDefault();
    store = $("#storedata").children('option:selected').val();
    date.splice(0,date.length)
    uc.splice(0,uc.length)
    lc.splice(0,lc.length)
    ec.splice(0,ec.length)
    $.ajax({
        url: '{% url "Market_store_graph" %}',
        type: "GET",
        data:{store:store},
      success: function (data){
        $.each(data, function(index, item){
        $.each(item, function(index, STD){
          date.push(STD.date)
          uc.push(parseInt(STD.Upper_count))
          lc.push(parseInt(STD.Lower_count))
          ec.push(parseInt(STD.Expected_Count))
        })
        })
          store_Count(date, uc, lc, ec)
      }
    })
  })
})
  </script>
{% endblock javascripts %}