<nav class="navbar navbar-expand-lg navbar-light bg-light txt_clr">
    <a class="navbar-brand" href="#">Predictive App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active txt_clr">
          <a class="nav-link" href="{% url 'PredictiveDash' %}">Statistical Representation</a>
        </li>
        <li class="nav-item txt_clr">
          <a class="nav-link" href="{% url 'Predictivetable' %}">Table</a>
        </li>
      </ul>
    </div>
  </nav>