{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} Predictive App
{% endblock title %}

{% block content %}
{% include 'Predictive/navinclude.html' %}

<span><a href="{% url 'exportstorespredict' %}">Export All Stores</a></span> 
<!-- Button trigger modal -->
<a class="btn btn-primary" data-toggle="modal" href="#modal_id">Generate Data <img class='loder' src="{% static 'loader.gif' %}" style="width: 20px; display: none;" alt=""></a>
</br>
<div class="modal fade" id="modal_id">
    <div class="modal-dialog">
        <form action="{% url 'GeneratePredictive' %}" method="post" class="predictiveform">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Future Date Range
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {% csrf_token %}
                            <label for="">Start Date</label>
                            <input type="date" name="startdate" id="" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">End Date</label>
                            <input type="date" name="enddate" id="" class="form-control">
                        </div>
                    </div>
                </div>
                   
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default closemodalbtn" data-dismiss="modal">Close</button>
                <button type="submit"  class="btn btn-primary" > Start Prediction</button>
            </div>
        </div>
    </form>
    </div>
</div>

{% comment %} # table {% endcomment %}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="table-responsive">      
<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" >
    <thead>
        <tr>
            <th>Market Name</th>
            <th>Store Name</th>
            <th>Store UID</th>
            <th>Date</th>
            <th>Expected Count</th>
            <th>Higest Count</th>
            <th>Minimum</th>
        </tr>
    </thead>
    <tbody>
        {% for pdata in data %}
        <tr>    
            {% comment %} <td>{{pdata.market_name}}</td> {% endcomment %}
            <td>{{pdata.market_name}}</td>
            <td>{{pdata.store_name}}</td>
            <td>{{pdata.store_id}}</td>
            <td>{{pdata.date}}</td>
            <td>{{pdata.Expected_Count}}</td>
            <td>{{pdata.Upper_count}}</td>
            <td>{{pdata.Lower_count}}</td>
            
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        
    </table>
            </div>
        </div>  
    </div>
</div>
<div>
    <!-- <button class="btn btn-danger" onclick="alert('Are you Sure to delet all data?')" ><a href="{% url 'delete_all_Preddata'  %}" style="text-decoration: none;color: #fff;">Delete All Data</a></button> -->
</div>

{% comment %} # table {% endcomment %}
{% endblock content %}

{% block javascripts %}
<script>
$(document).ready(function (){
    $('.predictiveform').submit(function(e){
        e.preventDefault()

        mess=confirm('All Previous Data will be Delete are you sure to Genrate new Prediction ') 
        if (mess)
        {            
            $('.loder').css('display','inline-block')
            e.currentTarget.submit();
            $('.closemodalbtn').click();
        }
    })
})

</script>

{% comment %} for data table  {% endcomment %}
<script>
$(document).ready( function () {
    $('#dataTable').DataTable();
} );
</script>
{% comment %} for data table  {% endcomment %}

{% endblock javascripts %}