{% load static %}
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
          <a class="navbar-brand px-5" href="#">Deep Science AI</a>
          <button class="btn btn-link btn-sm order-1 order-lg-0" onclick="openNav()" href="#"><i class="fas fa-bars"></i></button>
          <!-- Navbar Search-->
          <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
              <div class="input-group">                  
                  <div class="input-group-append">
                     <h4 style="color: #ffff; text-transform: capitalize; font-family: 'Chalkduster, fantasy'; padding: 5px 0px 0px 5px;"> {{user.username}} </h4>
                  </div>
              </div>
          </form>

          <!-- Navbar-->
          <ul class="navbar-nav ml-auto ml-md-0">
              <li class="nav-item dropdown mr-2">
                  <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <div role="separator" class="dropdown-divider my-1"></div>
                    <a class="dropdown-item d-flex align-items-center" href="{% url 'myLogout' %}">
                      <svg class="dropdown-icon text-danger me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path></svg>                
                      Logout
                    </a>
                  <!-- </div> -->
                </div>
              </li>
          </ul>
      </nav>


      <nav id="mySidenav" class="sidebar d-lg-block text-white collapse sidenav" style="background-color: #3f3f3f;" data-simplebar>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="sidebar-inner px-2 pt-1">
          <div class="user-card d-flex d-md-none align-items-center justify-content-between justify-content-md-center pb-4">
            <div class="d-flex align-items-center">
              <div class="avatar-lg me-4">
                <img src="/static/assets/img/team/profile-picture-3.jpg" class="card-img-top rounded-circle border-white"
                  alt="Bonnie Green">
              </div>
              <div class="d-block">
                <h2 class="h5 mb-3">Hi, Jane</h2>
                <a href="/page-sign-in.html" class="btn btn-secondary btn-sm d-inline-flex align-items-center">
                  <svg class="icon icon-xxs me-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path></svg>            
                  Sign Out
                </a>
              </div>
            </div>
            <div class="collapse-close d-md-none">
              <a  href="#sidebarMenu" data-bs-toggle="collapse"
                  data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="true"
                  aria-label="Toggle navigation">
                  <svg class="icon icon-xs" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </a>
            </div>
          </div>
          <ul class="nav flex-column pt-3 pt-md-0">
            <li class="nav-item {% if 'dashboard' in segment %} active {% endif %}">
              <a id="load1" href="{% url 'kpi_dashboard' %}" class="nav-link"><img src="{% static 'loader1.gif' %}" height="30px" id="loader1" style="display: none;" alt="">
                <span class="sidebar-icon">
                  <i class="fal fa-chart-line"></i>
                </span> 
                <span class="sidebar-text">KPI Dashboard</span>
              </a>
            </li>
            
            <li class="nav-item ">
              <a id="load3" href="{% url 'surveillance' %}" class="nav-link"><img src="{% static 'loader1.gif' %}" height="30px" id="loader3" style="display: none;" alt="">
                <span class="sidebar-icon">
                  <i class="fas fa-camera"></i>
                </span> 
                <span class="sidebar-text">Surveillance</span>
              </a>
            </li>
          
            <li class="nav-item ">
              <a id="load6" href="{% url 'SalesDash' %}" class="nav-link"><img src="{% static 'loader1.gif' %}" height="30px" id="loader6" style="display: none;" alt="">
                <span class="sidebar-icon">
                  <i class="fab fa-chromecast"></i>
                </span> 
                <span class="sidebar-text">Sales Forecasting</span>
              </a>
            </li>
            <li class="nav-item">
              <a id="load7" href = "{% url 'PredictiveDash' %}" class="nav-link"><img src="{% static 'loader1.gif' %}" height="30px" id="loader7" style="display: none;" alt="">
                <span class="sidebar-icon">
                  <i class="fal fa-project-diagram"></i>
                </span>
                <span class="sidebar-text">Predictive</span>
              </a>
            </li>
            <li class="nav-item">
              <a id="load8" href="{% url 'BreakIn' %}" class="nav-link"><img src="{% static 'loader1.gif' %}" height="30px" id="loader8" style="display: none;" alt="">
                <span class="sidebar-icon">
                  <i class="fad fa-business-time"></i>
                </span>
                <span class="sidebar-text">BreakIn Alerts</span>
              </a>
            </li>
            <li class="nav-item">
              <a id="load9" href="{% url 'Timemonitors' %}" class="nav-link"><img src="{% static 'loader1.gif' %}" height="30px" id="loader9" style="display: none;" alt="">
                <span class="sidebar-icon">
                  <i class="fas fa-clock"></i>
                </span>
                <span class="sidebar-text">Time Monitor</span>
              </a>
            </li>
            <li class="nav-item">
              <a id="load10" href="{% url 'dashboard' %}" class="nav-link"><img src="{% static 'loader1.gif' %}" height="30px" id="loader10" style="display: none;" alt="">
                <span class="sidebar-icon">
                  <i class="fal fa-user-chart"></i>
                </span>
                <span class="sidebar-text">Store Traffic</span>
              </a>
            </li>
            {% if user.is_superuser %}
            <li class="nav-item">
              <a id="load11" href="{% url 'config' %}" class="nav-link"><img src="{% static 'loader1.gif' %}" height="30px" id="loader11" style="display: none;" alt="">
                <span class="sidebar-icon">
                  <i class="fa-solid fa-message-pen"></i>
                  <!-- <i  class="fa-solid fa-file-pen"></i> -->
                </span>
                <span class="sidebar-text">Configuration</span>
              </a>
            </li>
            {% endif %}
            <li role="separator" class="dropdown-divider mt-4 mb-3 "></li>
          </ul>
        </div>
      </nav>
      <script>
        $("#load1").click(function(){
          ancor =document.getElementById("load1").getAttribute("href")
          $("#loader1").show()
          $.ajax({
            type:"GET",
            url:ancor,
            success: function(res){
              $("#loader1").hide()
              console.log("successfully called the function ")
            }
          })
        })
        $("#load3").click(function(){
          ancor =document.getElementById("load3").getAttribute("href")
          $("#loader3").show()
          $.ajax({
            type:"GET",
            url:ancor,
            success: function(res){
              $("#loader3").hide()
              console.log("successfully called the function ")
            }
          })
        })
        $("#load6").click(function(){
          ancor =document.getElementById("load6").getAttribute("href")
          $("#loader6").show()
          $.ajax({
            type:"GET",
            url:ancor,
            success: function(res){
              $("#loader6").hide()
              console.log("successfully called the function ")
            }
          })
        })
        $("#load7").click(function(){
          ancor =document.getElementById("load7").getAttribute("href")
          $("#loader7").show()
          $.ajax({
            type:"GET",
            url:ancor,
            success: function(res){
              $("#loader7").hide()
              console.log("successfully called the function ")
            }
          })
        })
        $("#load8").click(function(){
          ancor =document.getElementById("load8").getAttribute("href")
          $("#loader8").show()
          $.ajax({
            type:"GET",
            url:ancor,
            success: function(res){
              $("#loader8").hide()
              console.log("successfully called the function ")
            }
          })
        })
        $("#load9").click(function(){
          ancor =document.getElementById("load9").getAttribute("href")
          $("#loader9").show()
          $.ajax({
            type:"GET",
            url:ancor,
            success: function(res){
              console.log("successfully called the function ")
            }
          })
          setTimeout(function() {
            $("#loader9").hide()
          }, 60000)
        })



        $("#load10").on("click", function(){
         $("#loader10").show()      
          st_traffic = document.getElementById("load10").getAttribute("href")
          $.ajax({
            type:"GET",
            url:st_traffic,
            success: function(res){
              $("#loader10").hide()
              console.log("successfully done")
            },
          })
        })
        $("#load11").on("click", function(){
         $("#loader11").show()      
        //  $("#config").hide()      
         configuration = document.getElementById("load11").getAttribute("href")
         $.ajax({
           type:"GET",
           url:configuration,
           success: function(res){
             $("#loader10").hide()
            //  $("#config").show()      
              console.log("successfully done")
            },
          })
        })
      </script>
