{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} BreakIn App
{% endblock title %}

{% block stylesheets %}
<style>
.navbar{
    margin-left: -16px !important;
    /* background: #323232 !important; */
    /* color: black !important; */
}
.txt_clr a{
    /* color: #ffff !important; */
    padding-left: 5px;
}
.fdate{
    margin-right: 15px !important;
}
.fdate input{
    border: 1px solid rgb(13, 190, 187) !important;
}
.dropdown .btn-secondary{
  background: rgb(13, 190, 187) !important;
  color: #ffff !important;
  border: 1px solid rgb(13, 190, 187) !important;
}
.dropdown .btn-secondary:hover{
  background:none !important;
  color: rgb(13, 190, 187) !important;
  transition: .5s all ease-in-out;
}
.full_height{
  position: relative;
  top: -100;
  height: 100% ;
}
.month{
  border:1px solid rgb(13, 190, 187) !important;
}
.flocation button.btn-primary{
  background: rgb(13, 190, 187) !important;
  border: 1px none;
}
.flocation button.btn-primary:hover{
  background: none !important;
  color: rgb(13, 190, 187) !important;
  border: 1px solid rgb(13, 190, 187) !important;
  transition: .5s all ease-in-out;
}
canvas#breakInGraph {
    height: 350 !important;
}
</style>
{% endblock stylesheets  %}
{% block content %}
<!-- As a link -->
{% include 'Breakin_alerts/navinclude.html' %}
  <!-- dashboard main  -->
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 mt-2">
      <div class="flocation">
      <label for="mName" class="dropdown">Choose a market</label>
          <select id="mName"  class="month"  name="marketName">
        {% for m in market %}
          <option value="{{m}}">{{m}}</option>
        {% endfor %}
        </select>
      </div>
    </div>
<div class="col-lg-4 col-md-6 col-sm-12 mt-2">
  <div class="fdate pl-2" >
    <label for="month" class="dropdown">Choose a Month</label>
          <select id="month" class="month"  name="month">
          <option value="01">January</option>
          <option value="02">February</option>
          <option value="03">March</option>
          <option value="04">April</option>
          <option value="05">May</option>
          <option value="06">June</option>
          <option value="07">July</option>
          <option value="08">August</option>
          <option value="09">September</option>
          <option value="10">October</option>
          <option value="11">November</option>
          <option value="12">December</option>
        </select>
  </div>
</div>
<div class="col-lg-4 col-md-6 col-sm-12  mb-3">
  <div class="flocation">
      <button class= "btn btn-primary" id="submit">Submit</button>
</div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12">
      <canvas id="breakInGraph"></canvas>  
</div>
    <div class="col-lg-4 col-md-6 col-sm-12 mt-2">
      <div class="flocation">
      <label for="mName1" class="dropdown">Choose a market</label>
          <select id="mName1"  name="marketName">
        {% for m in market %}
          <option value="{{m}}">{{m}}</option>
        {% endfor %}
        </select>
        </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mt-2">
        <label for="store1" class="dropdown">Choose a Store</label>
          <select id="store1"  name="stores">
        </select>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12  mt-2 mb-2">
        <div class="flocation">
            <button class= "btn btn-primary" id="submit1">Submit</button>
      </div>
      </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class='card full_height'>
        <h2 style="padding-left: 5px; font-weight: 600;">Last Alert</h2>
        <table id="data" width="100%" cellspacing="0" class="table table-bordered">
          <thead>
              <tr>
                  <th>Market Name</th>
                  <th>Store Name</th>
                  <th>Store UID</th>
                  <th>Date</th>
                  <th>Time</th>

              </tr>
              <tbody>
                  <tr>
                  </tr>
              </tbody>
          </thead>
          </table>
    </div>
    
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
    <div class='card full_height'>
      <h2 style="padding-left: 5px; font-weight: 600;">History Data</h2>
      <table id="historydata" width="100%" cellspacing="0" class="table table-bordered">
        <thead>
            <tr>
                <th>Market Name</th>
                <th>Store Name</th>
                <th>Store UID</th>
                <th>Date</th>
                <th>Time</th>

            </tr>
            <tbody>
                <tr id="history_tr">
                </tr>
            </tbody>
        </thead>
        </table>
  </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 mt-4">
  <div class='card full_height'>
    <h2 style="padding-left: 5px; font-weight: 600;">Most Recent Alerts</h2>
    <table id="datatable" width="100%" cellspacing="0" class="table table-bordered">
      
      <thead>
          <tr>
              <th>Store Name</th>
              <th>Date</th>
              <th>Alert</th>
          </tr>
          <tbody>
              {% for d in data_full %} 
              <tr>
                  <td>{{d.store_name}}</td>
                  <td>{{d.dated}}</td>
                  <td>{{d.alert}}</td>
              </tr>
              {% endfor %}
          </tbody>
      </thead>
      </table>
</div>
</div>

<!-- dashboard main end -->
  <!-- As a heading -->
{% endblock content %}

{% block javascripts %}
<script>
$(document).ready( function () {


alerts=[10]
stored=["Hudson"]
alertGraph(stored, alerts)
$('#submit').on("click",function(){
        market = $('#mName').children('option:selected').val();
        Month = $("#month").children('option:selected').val();
        alerts.splice(0,alerts.length)
        stored.splice(0,stored.length) 
        $.ajax({
                url: '{% url "filter_alerts_Market" %}',
                type: 'GET',
                data: { market:market, month:Month},
                success: function (store) {
                    $.each(store, function(index, item){
                      $.each(item, function(index, i){
                      stored.push(i.store_name)
                      alerts.push(i.total)
                    })
                    })
                 
                    alertGraph(stored, alerts)
                  
                  }
                }
              )
            })
          })
function alertGraph(stored, alerts){
  const ctx2 = document.getElementById('breakInGraph').getContext('2d');
  if(window.myChart2 != undefined)
      window.myChart2.destroy();
      window.myChart2 = new Chart(ctx2, {
      type: 'bar',
      data: {
          labels: stored,
          datasets: [{
              label: 'Monthely Alerts ',
              data: alerts,
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)'
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              y: {
                  beginAtZero:true
              }
            
          }
      }
  });
}
$('#mName1').on("change",function(){
        market = $('#mName1').children('option:selected').val();
        
        $.ajax({
                url: '{% url "data_history" %}',
                type: 'GET',
                data: { market2:market},
                success: function (data) {
                    
                    getData(data)
                }
            })
          });    
function getData(data){
  let store=document.getElementById('store1')
  while(store.firstChild){
     store.removeChild(store.firstChild)
  }
  $.each(data, function (indexs, item) {
    item.forEach((d)=>{
      let option = document.createElement("option")
      store.appendChild(option)
      option.textContent = d
      })
    }
    )
  }
$(document).ready(function(){
  store_list=[]
  stores = "Plaza Road"
  markets = $('#mName1').val()
  tr = document.getElementById('history_tr')
  $('#data tr').not(':first').not(':last').remove();
  $('#historydata tr').not(':first').not(':last').remove();
  $.ajax({
      url: '{% url "data_store_history" %}',
      type:"GET",
      data:{store_1:stores,market_2:markets},
      success: function (data) {
        var html = '';
        $.each(data,function(index,item){

          $.each(item[0],function(index,val){

            var html = '<tr>'+
              '<td>' + val.market_name + '</td>' +
             '<td>' + val.store_name + '</td>' +
             '<td>' + val.store_id + '</td>' +
             '<td>' + val.date + '</td>' +
             '<td>' + val.DATEWISE + '</td>' +
            '</tr>'; 
            $('#data tr').first().after(html);
          })  
          $.each(item[1],function(index,items){
            
            var html = '<tr>'+
              '<td>' + items.market_name + '</td>' +
             '<td>' + items.store_name + '</td>' +
             '<td>' + items.store_id + '</td>' +
             '<td>' + items.dated + '</td>' +
             '<td>' + items.DATEWISE + '</td>' +
            '</tr>'; 
            $('#historydata tr').first().after(html);
          })
        })
      }
    })
})
$('#submit1').on("click",function(){
    stores = $("#store1").children('option:selected').val();
    markets = $('#mName1').val();
    tr = document.getElementById('history_tr')
    $('#data tr').not(':first').not(':last').remove();
    $('#historydata tr').not(':first').not(':last').remove();
    $.ajax({
      url: '{% url "data_store_history" %}',
      type:"GET",
      data:{store_1:stores,market_2:markets},
      success: function (data) {
        var html = '';
        $.each(data,function(index,item){

          $.each(item[0],function(index,val){

            var html = '<tr>'+
              '<td>' + val.market_name + '</td>' +
             '<td>' + val.store_name + '</td>' +
             '<td>' + val.store_id + '</td>' +
             '<td>' + val.date + '</td>' +
             '<td>' + val.DATEWISE + '</td>' +
            '</tr>'; 
            $('#data tr').first().after(html);
          })
          
          $.each(item[1],function(index,items){
            var html = '<tr>'+
              '<td>' + items.market_name + '</td>' +
             '<td>' + items.store_name + '</td>' +
             '<td>' + items.store_id + '</td>' +
             '<td>' + items.dated + '</td>' +
             '<td>' + items.DATEWISE + '</td>' +
            '</tr>'; 
            $('#historydata tr').first().after(html);
          })
        })
      }
    })
  })
</script>


{% endblock javascripts %}