{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} BreakIn table
{% endblock title %}

{% block stylesheets %}
<style>
    .btn-secondary{
        background: rgb(13, 190, 187) !important;
        color: #ffff !important;
        border: 1px solid rgb(13, 190, 187) !important;
    }
    .btn-secondary:hover{
        background: none !important;
        color: rgb(13, 190, 187) !important;
        transition: .5s all ease-in-out;
    }
</style>
{% endblock stylesheets %}

{% block content %}
{% include 'Breakin_alerts/navinclude.html' %}
<div class="row">
    <div class="col-lg-12">
    <div class="d-flex py-2">
        <button class="btn btn-secondary">PDF</button>
        <button class="btn btn-secondary" style="margin-left: 5px;">CSV</button>
        <button class="btn btn-secondary" style="margin-left: 5px;">EXCEL</button>
    </div>
</div>
<div class="col-lg-12">
<table id="myTable" class="display">
<thead>
        <tr>
            <th>Column 1</th>
            <th>Column 2</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Row 1 Data 1</td>
            <td>Row 1 Data 2</td>
        </tr>
        <tr>
            <td>Row 2 Data 1</td>
            <td>Row 2 Data 2</td>
        </tr>
    </tbody>
</table>
</div>
</div>
{% endblock content %}

{% block javascripts %}
<script>
$(document).ready( function(){
    $('#myTable').DataTable();
} );
</script>
{% endblock javascripts %}  