{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} Predictive App
{% endblock title %}

{% block stylesheets %}
<style>
.navbar{
    margin-left: -16px !important;
    
}
.txt_clr a{
   
    padding-left: 5px;
}
.fdate{
    margin-right: 15px !important;
}
.fdate input{
    border: 1px solid rgb(13, 190, 187) !important;
}
.dropdown .btn-secondary{
  background: rgb(13, 190, 187) !important;
  color: #ffff !important;
  border: 1px solid rgb(13, 190, 187) !important;
}
.dropdown .btn-secondary:hover{
  background:none !important;
  color: rgb(13, 190, 187) !important;
  transition: .5s all ease-in-out;
}
.bdr{
  border: 1px solid rgb(13, 190, 187) !important;
  transition: .5s all ease-in-out;
}
canvas#breakInGraph {
  height: 550px !important;
}
canvas#YearlyWiseGraph {
    height: 550px !important;
}
.flocation button.btn-primary{
  background: rgb(13, 190, 187) !important;
  border: none !important;
}
.flocation button.btn-primary:hover{
  background:none !important;
  border: 1px solid rgb(13, 190, 187)!important;
  color: rgb(13, 190, 187) !important;
  transition: .5s all ease-in-out ;
}
</style>
{% endblock stylesheets  %}
{% block content %}
<!-- As a link -->
{% include 'sales/navinclude.html' %}
  <!-- dashboard main  -->
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12 mt-2">
      <div class="fdate pl-2" >
        <label for="month" class="dropdown">Choose a Month</label>
              <select class="bdr" id="month"  name="month">
              <option value="01">January</option>
              <option value="02">February</option>
              <option value="03">March</option>
              <option value="04">April</option>
              <option value="05">May</option>
              <option value="06">June</option>
              <option value="07">July</option>
              <option value="08">August</option>
              <option value="09">September</option>
              <option value="10">October</option>
              <option value="11">November</option>
              <option value="12">December</option>
            </select>
      </div>
    </div>
    <div class="col-lg-2 col-md-6 col-sm-12 mt-2">
      <label for="Year" class="dropdown">Choose Year</label>
              <select class="bdr" id="Year"  name="Year">
              <option value="2021">2021</option>
              <option value="2022">2022</option>
              <option value="2023">2023</option>
            </select>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 mt-2">
      <div class="flocation">
      <label for="mName" class="dropdown">Choose market:</label>
          <select class="bdr" class="bdr" id="mName"  name="marketName">
        {% for m in market %}
          <option value="{{m}}">{{m}}</option>
        {% endfor %}
        </select>
      </div>
</div>
<div class="col-lg-4 col-md-6 col-sm-12 mt-2">
  <div class="flocation">
    <label for="storedata" class="dropdown">Choose a Store</label>
    <select class="bdr" id="storedata" name="data">
      <option value="">Hudson</option>
    </select>
    <button class="btn btn-primary ml-2 mb-2" id="sub0">Submit</button>
  </div>
</div>
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title" style="text-align:center;">Month wise Count</h5>
            <canvas id="breakInGraph"></canvas>
        </div>
      </div>
      </div>
      <!-- filter date graph  -->
      <div class="col-lg-3 col-md-3 col-sm-12 mt-2">
        <div class="fdate pl-2" >
          <label for="month1" class="dropdown">Choose a Month</label>
                <select class="bdr" id="month1"  name="month">
                <option value="01">January</option>
                <option value="02">February</option>
                <option value="03">March</option>
                <option value="04">April</option>
                <option value="05">May</option>
                <option value="06">June</option>
                <option value="07">July</option>
                <option value="08">August</option>
                <option value="09">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
              </select>
        </div>
    </div>
      <div class="col-lg-3 col-md-3 col-sm-12 mt-2">
        <div class="fdate">
          <label for="Year1" class="dropdown">Choose Year</label>
              <select class="bdr" id="Year1"  name="Year">
              <option value="2021">2021</option>
              <option value="2022">2022</option>
              <option value="2023">2023</option>
            </select>
          
            <button class="btn btn-primary" id="sub">Submit</button>
          </div>
    </div>
    <!-- <div class="col-lg-6 col-md- col-sm-12"> -->
    <!-- </div> -->
      <!-- market and store wise graph -->
      <div class="col-lg-6 col-md-12 col-sm-12">
        <!-- market store and data  -->
        <div class="d-flex justify-content-between  px-2 py-2 ">
      
            <div class="flocation">
              <div style="display: flex; margin: 5px;">
            <label for="market1" class="dropdown" style="margin-right: 5px;">Select Market</label>
              <select class="bdr" id="market1" name="market1">
                Select market
              {% for m in market %}
                <option value="{{m}}">{{m}}</option>
              {% endfor %}
              </select>
            </div>
            </div>

        <div class="fdate pl-2" >
          <input type="date" id="date" class="form-control">
        </div>
        <button class= "btn btn-primary" id="submit1">Submit</button>
    </div>
  </div>
        <!-- market  and date  -->
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Top Ten Stores</h5>
        <canvas id="multibar" width="600" height="400"></canvas>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Market Wise Count</h5>
        <!-- <canvas id="myChart" width="600" height="400"></canvas> -->
        <canvas id="myline" width="600" height="400"></canvas>
      </div>
    </div>
  </div>
<!-- select market store and year -->
  <div class="col-lg-4 pt-2 pb-2">
    <label for="Year" class="dropdown">Choose Year</label>
    <select class="bdr" id="Year2"  name="Year">
      <option value="2021">2021</option>
      <option value="2022">2022</option>
      <option value="2022">2023</option>
    </select>
  </div>
  <div class="col-lg-4 pt-2 pb-2">
    <div class="flocation">
      <label for="market" class="dropdown">Choose a market</label>
      <select class="bdr" id="market"  name="marketName">
        {% for m in market %}
        <option value="{{m}}">{{m}}</option>
        {% endfor %}
      </select>
    </div>
  </div>  
  <div class="col-lg-4 pt-2 pb-2">
    <div class="flocation">
      <label for="store" class="dropdown">Choose a Store</label> 
      <select class="bdr" id="stores" name="data">
        <option value="" selected>Hudson</option>
      </select>
      <button class= "btn btn-primary" id="sub2">Submit</button>
    </div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title" style="text-align:  center;">Yearly Wise Count</h5>
        <canvas id="YearlyWiseGraph"></canvas>
    </div>
  </div>
  </div>
</div>
<!-- dashboard main end -->
  <!-- As a heading -->
{% endblock content %}

{% block javascripts %}

<script>
// markt and date wise graph
// ajax

$(document).ready(function(){
  UC = []
  EC = []
  LC = []
  storename = []
  market_name = $("#market1").val()
  // america date 
  america_time = new Date().toLocaleString("en-US", {timeZone:
"America/Chicago"});
  yesterday_america = new Date(america_time)
  yesterday_america.setDate(yesterday_america.getDate()-1)
  yesterday_america.toDateString()
  am_month = yesterday_america.getMonth()+1;
  am_date = yesterday_america.getDate();
  am_year = yesterday_america.getFullYear();
  if(Object.keys(am_month).length === 0){
    am_month = "0"+am_month
  }
  am_completeDate = am_year+"-"+am_month+"-"+am_date
  document.getElementById("date").value = am_completeDate
  $.ajax({
          url: '{% url "Market_and_date" %}',
          type: 'GET',
          data: { market1:market_name, date1:am_completeDate },
          success: function (data) {
            console.log("what is data from Views ", data)
              $.each(data , function(index, item){
                $.each(item, function(index,retrieveData){
                    UC.push(retrieveData.Upper_count)
                    EC.push(retrieveData.Expected_Count)
                    LC.push(retrieveData.Lower_count)
                    storename.push(retrieveData.store_name)
                      })
                    })
                      date_and_market(store, UC, EC, LC)
                }
            })
})

$('#submit1').on("click",function(){
        market1 = $('#market1').children('option:selected').val();
        date1 = $("#date").val()
        console.log("what is date and market from UI ", market1 , date1)
        // if (store.length != 0){
          UC.splice(0, UC.length);
          EC.splice(0, EC.length);
          LC.splice(0, LC.length);
          storename.splice(0, storename.length);
        
         $.ajax({
                url: '{% url "Market_and_date" %}',
                type: 'GET',
                data: { market1:market1, date1:date1 },
                success: function (data) {
                    $.each(data , function(index, item){
                      $.each(item, function(index,retrieveData){
                          UC.push(retrieveData.Upper_count)
                          EC.push(retrieveData.Expected_Count)
                          LC.push(retrieveData.Lower_count)
                          storename.push(retrieveData.store_name)
                      })
                    })
                    if (!$.trim(storename)){   
                      alert("Data is not available of this date");
                    }
                    else{
                      
                      date_and_market(store, UC, EC, LC)
                    }
                }
            })
          // }
          })
function date_and_market(store,UC, EC, LC){
  const ctx1 = document.getElementById('myline').getContext('2d');
  if(window.myCharts != undefined)
      window.myCharts.destroy();
      window.myCharts = new Chart(ctx1, {
      type: 'line',
      data: {
          labels: storename,
          datasets: [
            {
              label: "Upper Count",
              data:UC,
              backgroundColor: [
                  'rgba(75, 192, 192, 0.2)',
              ],
              borderColor: [    
                  'rgba(75, 192, 192, 1)',
              ],
              borderWidth: 1
          },
          {
              label: "Lower Count",
              data:LC,
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                 
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  
              ],
              borderWidth: 1
          },
          {
              label: "Expected GPA",
              data:EC,
              backgroundColor: [
                  
                  'rgba(153, 102, 255, 0.2)',
              ],
              borderColor: [  
                  'rgba(153, 102, 255, 1)',
              ],
              borderWidth: 1
          }
        ]
      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      }
  })
}
// Market and date wise graph
</script>
<script>
// graph by month and year
$(document).ready(function(){
stores = []
Expect_count = []
date = new Date()
m = date.getMonth() + 1
y = date.getFullYear()
console.log("what is date in new date ",m , "\n year ", y)
year = "2021"
month = "05"
stores.splice(0,stores.length)
Expect_count.splice(0,Expect_count.length)
$.ajax({
      url: '{% url "month_and_year_Graph" %}',
      type: 'GET',
      data: {Month1:month,year1:year },
      success: function (data) {
        $.each(data, function(index, item){
          $.each(item, function(index, st){
            stores.push(st.store_name)
            Expect_count.push(st.monthly)
          })
        })
          Month_and_Year_Graph(stores, Expect_count)    
        }
  })
})
$("#sub").on("click",function(){
  year = $('#Year1').children('option:selected').val();;
  Month = $('#month1').children('option:selected').val();
  stores.splice(0,stores.length)
  Expect_count.splice(0,Expect_count.length)
  $.ajax({
      url: '{% url "month_and_year_Graph" %}',
      type: 'GET',
      data: {Month1:Month,year1:year },
      success: function (data) {
        $.each(data, function(index, item){
          $.each(item, function(index, st){
            stores.push(st.store_name)
            Expect_count.push(st.monthly)
          })
        })
          Month_and_Year_Graph(stores, Expect_count)    
        }
  })

})
function Month_and_Year_Graph(stores, Expect_count){
  const ctx2 = document.getElementById('multibar').getContext('2d');
  if(window.myChart2 != undefined)
      window.myChart2.destroy();
      window.myChart2 = new Chart(ctx2, {
      type: 'bar',
      data: {
          labels: stores,
          datasets: [{
              label: 'Top 10 Stores ',
              data: Expect_count,
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)',
                  'rgba(0, 255, 0, 0.2)',
                  'rgba(0, 0, 255, 0.2)',
                  'rgba(0, 255, 255, 0.2)',
                  'rgba(255, 0, 255, 0.2)',
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)',
                  'rgba(0, 255, 0, 1)',
                  'rgba(0, 0, 255, 1)',
                  'rgba(0, 255, 255, 1)',
                  'rgba(255, 0, 255, 1)',
              ],
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      }
  });
}
  </script>



<script>
  // getting month and generating stores by clicking on month
    // fourth graph store and year
    $('#market').on("change",function(){
        market = $('#market').children('option:selected').val();
         $.ajax({
                url: '{% url "filter_Sales_Market" %}',
                type: 'GET',
                data: { market:market},
                success: function (data) {
                    getData2(data)
                }
            })
          });
  function getData2(data){
  let store=document.getElementById('stores')
  while(store.firstChild){
     store.removeChild(store.firstChild)
  }
  $.each(data, function (indexs, item) {
    item.forEach((d)=>{
      let option = document.createElement("option")
      store.appendChild(option)
      option.textContent = d
      })
    }
    )
  }
</script>
<script>
  // graph by store and year
$(document).ready(function(){
  months = []
  monthly_count = []
  year1 = $("#Year2").children("option:selected").val()
  store1 = "2nd Ave"
  document.getElementById("stores").value = store1
  $.ajax({
        url: "{% url 'year_wise' %}",
        type: 'GET',
        data: {year:year1,store:store1},
        success: function (data){
          $.each(data, function(index, item){
            $.each(item, function(index, st){
              months.push(st.month)
              monthly_count.push(st.monthly)
            })
          })
            yearGraph(months, monthly_count)
          }
    })
})
$("#sub2").on("click",function(){
    year = $('#Year2').children('option:selected').val();
    store = $('#stores').children('option:selected').val();
    months.splice(0,months.length)
    monthly_count.splice(0,monthly_count.length)    
    $.ajax({
        url: "{% url 'year_wise' %}",
        type: 'GET',
        data: {year:year,store:store },
        success: function (data) {
          $.each(data, function(index, item){
            $.each(item, function(index, st){
              months.push(st.month)
              monthly_count.push(st.monthly)
            })
          })
        yearGraph(months, monthly_count)
    }
  })
})
  function yearGraph(months, monthly_count){
    const ctx3 = document.getElementById('YearlyWiseGraph').getContext('2d');
    if(window.myChart3 != undefined)
        window.myChart3.destroy();
        window.myChart3 = new Chart(ctx3, {
        type: 'bar',
        data: {
            labels: months,
            datasets: [{
                label: 'Year Wise Count ',
                data: monthly_count,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
  }
    </script>
<script>

  // market store month and year wise Graph
$('#mName').on("change",function(){
        market = $('#mName').children('option:selected').val();
         $.ajax({
                url: '{% url "filter_Sales_Market" %}',
                type: 'GET',
                data: { market:market},
                success: function (data) {
                    getData(data)
                }
            })
          });
// graph 
function store_Count(date, uc, lc, ec) {
  // date = ["2021-01-01","2021-01-02","2021-01-03","2021-01-04","2021-01-05","2021-01-06","2021-01-07","2021-01-08","2021-01-09","2021-01-10"]
  var labels = date
        var data = {
        labels: labels,
        datasets: [{
            label: 'Maximum Traffic',
            fill:true,
            backgroundColor: 'rgba(75, 192, 192, 0.2)',
            borderColor: 'rgb(75, 192, 192)',
            data: uc,
            borderWidth: 1,
        },
        { 
            label: 'Minimum Traffic',
            fill: true,
            backgroundColor: 'rgba(255, 99, 132, 0.2)',
            borderColor: 'rgb(255, 99, 132)',
            data: lc,
            borderWidth: 1,
            
        },
        {
            label: 'Expected GPA',
            fill:true,
            backgroundColor: 'rgba(54, 162, 235, 0.2)',
            borderColor: 'rgb(54, 162, 235)',
            data: ec,
            borderWidth: 1,
            
        }
      ]
        };
    const ctx = document.getElementById('breakInGraph').getContext('2d');
    const myChart = new Chart(ctx, {
      // line 
      type: 'line',
          data: data,
          options: {
            responsive: true,
            plugins: {
              title: {
                display: true,
                text: 'Chart.js Line Chart'
              },
            },
            interaction: {
              mode: 'index',
              intersect: false
            },
            scales: {
              x: {
                display: true,
                title: {
                  display: true,
                  text: 'Date'
                }
              },
              y: {
                display: true,
                title: {
                  display: true,
                  text: 'Prediction'
                }
              }
            }
          },
        }
    )}
// graph close

function getData(data){
  let store=document.getElementById('storedata')
  while(store.firstChild){
     store.removeChild(store.firstChild)
  }
  $.each(data, function (indexs, item) {
    item.forEach((d)=>{
      let option = document.createElement("option")
      store.appendChild(option)
      option.textContent = d
      })
    }
    )
  }

$(document).ready(function(){
  date = []
  uc = []
  lc = []
  ec = []
  const today = new Date()
  const yesterday = new Date(today)
  yesterday.setDate(yesterday.getDate() - 1)
  today.toDateString()
  yesterday.toDateString()
  store = "Medina"
  month = yesterday.getMonth()+1;
  year = yesterday.getFullYear();
  if(Object.keys(month).length === 0){
    month = "0"+month
  }
  $.ajax({
        url: '{% url "store_month_and_date_graph" %}',
        type: "GET",
        data:{
          store:store,
          Month:month,
          Year:year,
        },
      success: function (data){
        $.each(data, function(index, item){     
        $.each(item, function(index, STD){
              date.push(STD.date)
              uc.push(parseInt(STD.Upper_count))
              lc.push(parseInt(STD.Lower_count))
              ec.push(parseInt(STD.Expected_Count))
            })
          })

          store_Count(date, uc, lc, ec)
      }
    })
  $("#sub0").on("click", function(e){
    e.preventDefault();
    store = $("#storedata").children('option:selected').val();
    Month = $("#month").children('option:selected').val();
    Year = $("#Year").children('option:selected').val();
    date.splice(0,date.length);
    uc.splice(0,uc.length);
    lc.splice(0,lc.length);
    ec.splice(0,ec.length);
    $.ajax({
        url: '{% url "store_month_and_date_graph" %}',
        type: "GET",
        data:{
          store:store,
          Month:Month,
          Year:Year,
        },
      success: function (data){
        $.each(data, function(index, item){     
          $.each(item, function(index, STD){  
              date.push(STD.date)
              uc.push(parseInt(STD.Upper_count))
              lc.push(parseInt(STD.Lower_count))
              ec.push(parseInt(STD.Expected_Count))
            })
            })
            if (!$.trim(date)){   
          alert("Data is not available of this ");
        }
        else{
          store_Count(date, uc, lc, ec)
        }
      }
    })
  })
}
)
</script>
<script>


</script>
<script>
  $(document).ready(function(){
  date = []
  uc = []
  lc = []
  ec = []
  $("#sub").on("click", function(e){
    e.preventDefault();
    Month = $("#month").children('option:selected').val();
    Year = $("#Year").children('option:selected').val();
    date.splice(0,date.length);
    uc.splice(0,uc.length);
    lc.splice(0,lc.length);
    ec.splice(0,ec.length);
    $.ajax({
        url: '{% url "store_month_and_date_graph" %}',
        type: "GET",
        data:{
          Month:Month,
          Year:Year,
        },
      success: function (data){
        $.each(data, function(index, item){     
          $.each(item, function(index, STD){  
              date.push(STD.date)
              uc.push(parseInt(STD.Upper_count))
              lc.push(parseInt(STD.Lower_count))
              ec.push(parseInt(STD.Expected_Count))
            })
            })
            if (!$.trim(date)){   
          alert("Data is not available of this ");
        }
        else{
          // month_Count(date, uc, lc, ec)
        }
      }
    })
  })
}
)
  // fourth graph 
</script>

{% endblock javascripts %}