{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} Sales Forecasting App
{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <a href="#" class="btn btn-primary mt-2" id="exportcsv">Export to CSV</a>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="d-flex">
          <label for="yName" class="dropdown my-2">Choose a Year</label>
          <select id="yName" name="marketName" class="form-control my-1" style="width: 400px; margin-left: 5px;">
            <option value="year">2021</option>
            <option value="year">2022</option>
            <option value="year">2023</option>
        </select>
      </div>
      </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="d-flex mx-2 my-2"> 
      <label for="month" class="dropdown my-2">Choose a Month</label>
        <select id="month" name="marketName" onchange="getData()" class="form-control" style="width: 400px; margin-left: 5px;">
          <option value="1">January</option>
          <option value="2">February</option>
          <option value="3">March</option>
          <option value="4">April</option>
          <option value="5">May</option>
          <option value="6">June</option>
          <option value="7">July</option>
          <option value="8">August</option>
          <option value="9">September</option>
          <option value="10">October</option>
          <option value="11">November</option>
          <option value="12">December</option>
      </select>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card">
            <div class="table-responsive">
<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" >
    <thead>
        <tr>
            {% for data in columns %}
            <th>{{data}}</th>
            {% endfor %}
            <!-- <th>HourlyCount</th> -->
        </tr>
    </thead>
    <tbody id="mydata">

            {% for data in predata %}
            <tr>
                <td>{{data.market_name}}</td>
                <td>{{data.store_name}}</td>
                <td>{{data.store_UID}}</td>
                <td>{{data.date}}</td>
                <td>{{data.Upper_count}}</td>
                <td>{{data.Lower_count}}</td>
                <td>{{data.Expected_Count}}</td>
                <!-- <td><a class="btn btn-primary btn-sm" href="{% url 'hourlydata' %}" role="button">View</a></td> -->
            </tr>
            {% endfor %}
    </tbody>
    <tfoot>
        
    </table>
            </div>
        </div>  
    </div>
</div>

{% block javascripts %}
<link href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/fixedcolumns/3.2.0/css/fixedColumns.dataTables.min.css" rel="stylesheet" />
<!-- <script type="text/javascript" src="//unpkg.com/xlsx/dist/xlsx.full.min.js"></script> -->
<script>
    $("#exportcsv").on("click", function(){

        var table = $("#dataTable").DataTable();
        var data = table.rows().data().toArray();
        // var columns = table.columns().data().toArray();
        // var column_names = table.columns().header().toArray();
        var column_names =["Market Name ", "Store Name", "Store UID", "Date", "Upper Count", "Lower Count", "Expected Count"];
        var csv = '"' + column_names.join('","') + '"\r\n';
        for(var i = 0; i < data.length; i++){
            csv += data[i].join(",") + "\n";
        }
        var csvData = 'data:application/csv;charset=utf-8,' + encodeURIComponent(csv);
        var csvAnchor = document.createElement('a');
        csvAnchor.setAttribute("href", csvData);
        csvAnchor.setAttribute("download", "SalesForcasting_report.csv");
        csvAnchor.click();
        });
        
</script>
<script>
$(document).ready( function () {
    // $('#dataTable').DataTable();
    table = $('#dataTable').DataTable();
});

function getData()
{


market_name = []
store_name = []
store_UID = []
dates = []
Upper_count = []
Lower_count = []
Expected_Count = []


        var table;
        var check = true;
        var count=0;
        
        table = $('#dataTable').DataTable();
        table.clear();
        month=$("#month").val();
        console.log("month is",month)
        year = $("#yName").find(":selected").text();
        //var filter = $("#selectrepot").val();
        $.ajax({
            type: "GET",
            url: "{% url 'Sales_Table_ajax' %}",
            data: {
                //"filter": filter,
                "month":month,
                "year":year
            },
            success: function (data) {
                console.log(data,"data ====")
                if (data != '') {
                    $.each(data, function (i, item) {
                        for (var x =0; x<data['predata'].length;x++){

                                table.row.add([data['predata'][x].market_name, data['predata'][x].store_name, data['predata'][x].store_UID,data['predata'][x].date, data['predata'][x].Upper_count, data['predata'][x].Lower_count, data['predata'][x].Expected_Count]);
                            } 
                    });
                }
            table.draw(); 
            },
            
            error: function (error) {
                alert('error');
            }
        });
}
</script>


{% endblock javascripts %}
{% endblock content %}