{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} TimeMonitor App
{% endblock title %}

{% block stylesheets %}
<style>
.navbar{
    margin-left: -16px !important;
    /* background: #323232 !important; */
    /* color: black !important; */
}
.txt_clr a{
    /* color: #ffff !important; */
    padding-left: 5px;
}
.fdate{
    margin-right: 15px !important;
}
.fdate input{
    border: 1px solid rgb(13, 190, 187) !important;
}
.dropdown .btn-secondary{
  background: rgb(13, 190, 187) !important;
  color: #ffff !important;
  border: 1px solid rgb(13, 190, 187) !important;
}
.dropdown .btn-secondary:hover{
  background:none !important;
  color: rgb(13, 190, 187) !important;
  transition: .5s all ease-in-out;
}
</style>
{% endblock stylesheets  %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% block content %}
<!-- As a link -->
{% include 'storetiming/navinclude.html' %}
  <!-- dashboard main  -->
  <div class="row">
        <div class="col-md-12">
          <form action="" method="post" id="search_form">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="date">Select Market</label>
                        <select name="market" id="market" class="form-control">
                            {% for market in markets %}
                              <option>{{market}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="date">Select Date</label>
                        <input type="date" name="date" id="date" class="form-control">
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <label for="date">Search</label> <br>
                        <input type="submit" value="Go" class="btn btn-primary">
                    </div>
                    
                </div>
            </div>
        </form>
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="card mb-4">
              <div class="card-header">
                  <i class="fas fa-chart-area mr-1"></i>
                  Time Monitor (Market wise) <span style="color:red; display: none;" id="count_error"> No Data Found </span>
              </div>
              
              <div class="card-body" >
                <canvas id="get_charts" data-url="{% url 'get_charts' %}" width="100%" height="20"></canvas>
            </div>
              
            </div>
      </div>
    <!-- <div class="col-lg-12 col-md-12 col-sm-12">
        <div>
            <canvas id="breakInGraph"></canvas>
        </div>
      </div> -->
     
    
</div>
<!-- dashboard main end -->
  <!-- As a heading -->
{% endblock content %}

{% block javascripts %}

<script>
  


// // Area Chart Example
function printChart(stores, storectline,storeotline,storeeopen,storeeclose,storelclose,storelopen){
console.log(stores, storectline,storeotline,storeeopen,storeeclose,storelclose,storelopen)
const ctx = document.getElementById("get_charts").getContext('2d');;
const myLineChart = new Chart(ctx, {
type: 'line',
data: {
  labels: stores,
  datasets: [{
    label: "Open Store Time",
    lineTension: 0.3,
    type:'line',
    fill: false,
    borderColor:"rgb(255,99,132)",
    backgroundColor:"rgb(255,99,132)",
    borderWidth:2,
    data: storeotline,
  },
  {
    label: "Early Open",
    lineTension: 0.3,
    type:"bubble",
    // fill: false,
    backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
    data: storeeopen,
  },
  {
    label: "Store Close Time",
    lineTension: 0.3,
    type:"line",
    fill: false,
    backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
    data: storectline,
  },
  {
    label: "Early Close",
    lineTension: 0.3,
    type:"bubble",
    fill: false,
    backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
    data: storeeclose,
  },
  {
    label: "Late Close",
    lineTension: 0.3,
    type:"bubble",
    fill: false,
    backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
    data: storelclose,
  },
  {
    label: "Late Open",
    lineTension: 0.3,
    type:"bubble",
    fill: false,
    backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
    data: storelopen,
  }],
},
options: {
  scales: {
    xAxes: [{
      time: {
        unit: 'date'
      },
      gridLines: {
        display: true
      },
      // ticks: {
      //   maxTicksLimit: (max_value==0?20:max_value)
      // }
    }],
    yAxes: [{
      ticks: {
        
      },
      gridLines: {
        color: "rgba(0, 0, 0, .125)",
      }
    }],
  },
  legend: {
    display: true
  }
}
});
}
const now = new Date();

  const day = ("0" + now.getDate()).slice(-2);
  const month = ("0" + (now.getMonth() + 1)).slice(-2);
  const today = now.getFullYear()+"-"+(month)+"-"+(day-1) ;
  $('#date').val(today);

  const stores = ['Sioux City-Sergeant Road', 'Altoona 8th Street', 'Grimes East', 'Council Bluffs', 'Fremont - Elk Lane'];
  const storectline = [20, 20, 20, 20, 20];
  const storeotline = [9, 9, 9, 9, 9];
  const storeeclose = [18, 18, 18, 18, 18]
  const storeeopen = [7, 7, 7, 7, 7]
  const storelclose = [23,23,23,23,23]
  const storelopen = [11,11,11,11,11]
  printChart(stores, storectline,storeotline,storeeopen,storeeclose,storelclose,storelopen)
  $(document).ready(function(){
      $('#search_form').submit(function(e){
          e.preventDefault();
          date = $('#date').val();
          market = $('#market').children('option:selected').val();
          stores.splice(0,stores.length);
          storectline.splice(0,storectline.length)
          storeotline.splice(0,storeotline.length)
          storeeopen.splice(0,storeeopen.length)
          storeeclose.splice(0,storeeclose.length)
          storelclose.splice(0,storelclose.length)
          storelopen.splice(0,storelopen.length)


          $.ajax({
              url: '{% url "get_charts" %}',
              method: 'GET',
              data: {date:date, market:market},
              success: function(data){                  
                  $.each(data.store_name, function(indexs, item){
                      
                      stores.push(item)
                        // console.log("store_name",item)
                      
                  })
                  $.each(data.sctline, function(indexs, item){
                    storectline.push(item)
                    // console.log("store close time Line ", item)
                  })
                  $.each(data.sotline, function(indexs, item){
                    storeotline.push(item)
                    // console.log("store open time Line ", item)
                  })
                  $.each(data.seopen, function(indexs, item){
                    storeeopen.push(item)
                    // console.log("store early Open ", item)
                  })
                  $.each(data.seclose, function(indexs, item){
                    storeeclose.push(item)
                    // console.log("Store early Close ", item)
                  })
                  $.each(data.slopen, function(indexs, item){
                    storelopen.push(item)
                    // console.log("Store late Open ", item)
                  })
                  $.each(data.slclose, function(indexs, item){
                    storelclose.push(item)
                    // console.log("Store Late Close ", item)
                  })
                  printChart(stores, storectline,storeotline,storeeopen,storeeclose,storelclose,storelopen)
                  if(data.store_name.length<1){
                      $('#count_error').css('display', 'inline')
                  }else{
                      $('#count_error').css('display', 'none')
                  }
              }
          });
          
      });
     
     
  });

</script>

{% endblock javascripts %}