{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} TimeMonoter table
{% endblock title %}
{% block css%}
<link rel="stylesheets" href="http://cdn.datatables.net/1.11.3/css/jquery.datatables.min.css">
{% endblock %}

{% block stylesheets %}
<style>
    .btn-secondary{
        background: rgb(13, 190, 187) !important;
        color: #ffff !important;
        border: 1px solid rgb(13, 190, 187) !important;
    }
    .btn-secondary:hover{
        background: none !important;
        color: rgb(13, 190, 187) !important;
        transition: .5s all ease-in-out;
    }
</style>
{% endblock stylesheets %}

{% block content %}
{% include 'storetiming/navinclude.html' %}
<div class="row">
    <div class="col-lg-12">
    <div class="d-flex py-2">
        <!-- <button class="btn btn-secondary">PDF</button> -->
        <a href="#" class="btn btn-secondary" id="exportcsv" style="margin-left: 5px;"><i class="fas fa-download fa-sm text-white-50"></i>
            Export CSV</a>
        <!-- <button class="btn btn-secondary" style="margin-left: 5px;">EXCEL</button> -->
    </div>
</div>
<div class="col-lg-12">      
<div class="table-responsive">
<table  class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
<thead>
    <tr>
        <th>StoreUID</th>
        <th>Date</th>
        <th>StoreOpen</th>
        <th>StoreClose</th>
        <th>Morning Time</th>
        <th>Night Time</th>
        <th>Morning Time Difference</th>
        <th>Night Time Difference</th>
    </tr>
</thead>    
    <tbody>
        {% for d in data %} 
        <tr>
            <td>{{d.stores.store_UID}}</td>
            <td>{{d.date}}</td>
            <td>{{d.storeopen}}</td>
            <td>{{d.storeclose}}</td>
            <td>{{d.morningtime}}</td>
            <td>{{d.nighttime}}</td>
            <td>{{d.mtimedifference}}</td>
            <td>{{d.ntimedifference}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</div>
{% endblock content %}

{% block javascripts %}
<script>
$(document).ready(function () {
    $('#dataTable').DataTable();
});
</script>
<script>
$("#exportcsv").on("click", function(){
    var table = $("#dataTable").DataTable();
    var data = table.rows().data().toArray();
    // var columns = table.columns().data().toArray();
    // var column_names = table.columns().header().toArray();
    var column_names =["Store_UID", "Date", "Store_Open", "Store_Close", "Morning_Time", "Night_Time", "Morning_Time_Difference", "Night_Time_Difference"];
    var csv = '"' + column_names.join('","') + '"\r\n';
    for(var i = 0; i < data.length; i++){
        csv += data[i].join(",") + "\n";
    }
    var csvData = 'data:application/csv;charset=utf-8,' + encodeURIComponent(csv);
    var csvAnchor = document.createElement('a');
    csvAnchor.setAttribute("href", csvData);
    csvAnchor.setAttribute("download", "Time_Monitor_report.csv");
    csvAnchor.click();
});
</script>
{% endblock javascripts %}  