{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
{% endblock stylesheets %}

{% block content %}
<div class="row mt-3">
    <div class="col-lg-4 col-md-6 col-sm-3 ">
       <!-- <h2>{{date}}</h2> -->
    </div>
    <div class="col-lg-8 col-md-6 col-sm-3 d-flex justify-content-end">
        <button type="button" class="btn btn-primary btn-change">MY WIDGETS</button> &nbsp;
        <button type="button" class="btn btn-outline-primary pl-2 pr-2 btn-change1">Primary</button>&nbsp;
        <button type="button" class="btn btn-primary btn-change">ALL WIDGETS</button>
     </div>
</div>
<div class="row mt-3">
    <div class="col-lg-12">
        <div class="filter d-flex">
            <div class="ftext">
                <h3><i class="fas fa-filter mr-2"></i>Filter</h3>
            </div>
            <div class="fdate" >
                <input type="date" class="form-control">
            </div>
            <div class="">
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                      <span> All Locations </span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </div>
            </div>
            <div class="">
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                     <span> Day </span>
                    </a>
                  
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </div>
            </div>
        </div>
    </div>
</div>

<!-- chart js graphs -->
<div class="row">
<div class="col-lg-4 col-md-6 col-sm-12">
    <div class="card" >
        <div class="card-body">
          <h5 class="card-title">Card one</h5>
          <canvas id="myChart" width="600" height="400"></canvas>
          
        </div>
      </div>
</div>
<div class="col-lg-4 col-md-6 col-sm-12">
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card two</h5>
          <!-- <canvas id="myChart" width="600" height="400"></canvas> -->
          <canvas id="myline" width="600" height="400"></canvas>
        </div>
      </div>
</div>
<div class="col-lg-4 col-md-6 col-sm-12">
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card three</h5>
          <canvas id="multibar" width="600" height="400"></canvas>
        </div>
      </div>
</div>
</div>
<!-- chart js grpah end -->

<!-- Recent view section -->

<!--End Recent view section -->
<!-- my work end here  -->


    

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
    </script>
<script>
    const ctx1 = document.getElementById('myline').getContext('2d');
    const myChart1 = new Chart(ctx1, {
        type: 'bar',
        data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: [{
                label: 'second bar',
                data: [12, 19,15, 5, 2, 3],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
    </script>
<script>
    const ctx2 = document.getElementById('multibar').getContext('2d');
    const myChart2 = new Chart(ctx2, {
        type: 'bar',
        data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: [{
                label: 'third bar',
                data: [12, 19,15, 5, 2, 3],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
    </script>
{% endblock javascripts %}
