{% load static %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/scrollspy.css' %}">
<style>
.card-footer.foot {
    background-color: #3f3f3f;
    color: whitesmoke;
}
.foot{
  background-color: #3f3f3f;
    color: whitesmoke;
}
.scrollbar {
    /* margin-left: 30px; */
    /* float: right; */
    height: 800px !important;
    /* margin-right: 50px; */
    /* width: 65px; */
    /* background: #fff; */
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 25px; }
    
    .scrollbar-juicy-peach::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px; }
    
    .scrollbar-juicy-peach::-webkit-scrollbar {
    width: 12px;
    /* margin-left: 50px; */
    background-color: #F5F5F5; }
    
    .scrollbar-juicy-peach::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-gradient(linear, left top, right top, from(#ffecd2), to(#fcb69f));
    background-image: -webkit-linear-gradient(left, #ffecd2 0%, #fcb69f 100%);
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%); }
    
/* scroller */
</style>

{% endblock stylesheets %}

<div class="row">
  <!-- camera to play -->
  <!-- live view videos -->  
  <div class="col-lg-12  scrollbar scrollbar-juicy-peach  mt-3">
      <div class="row mt-4" id="evnts"> 
          <div class="col-lg-4 col-md-6 col-sm-4 mt-2">
              <div class="card">
                <video width="auto" height="340" preload="auto" controls autoplay="True" >
                  <source src="/media/HuffmanMill.mp4" type="video/mp4"/> 
                </video>
                  <div class="card-body foot">
                      <p class="card-text">Tillmans Corner</p>
                      
                      <button class="btn btn-primary btn-change">Add Notes</button>
                      <button class="btn btn-primary btn-change">Save Clips</button>
                  </div>
                  <div class="card-footer foot">
                    Card footer
                  </div>
                </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-4 mt-2">
              <div class="card">
                <video width="auto" height="340" preload="auto" controls autoplay="True" >
                  <source src="/media/srf2.mp4" type="video/mp4"/> 
                </video>
                  <div class="card-body foot">
                      <p class="card-text">RoundBerg</p>
                      <button class="btn btn-primary-outline btn-change">Add Notes</button>
                      <button class="btn btn-primary-outline btn-change">Save Clips</button>
                  </div>
                  <div class="card-footer foot">
                    Card footer
                  </div>
                </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-4 mt-2">
              <div class="card">
                <video width="auto" height="340" preload="auto" controls autoplay="True" >
                  <source src="/media/srf4.mp4" type="video/mp4"/> 
                </video>
                  <div class="card-body foot">
                      <p class="card-text">Perkins Rd</p>
                      <button class="btn btn-primary btn-change">Add Notes</button>
                      <button class="btn btn-primary btn-change">Save Clips</button>
                      <!-- <input type="button" value="Add Notes"> -->
                  </div>
                  <div class="card-footer foot">
                    Card footer
                  </div>
                </div>
          </div>
      
          <!-- for second row  -->
          <div class="col-lg-4 col-md-6 col-sm-4 mt-2 mt-2">
              <div class="card">
                <video width="auto" height="340" preload="auto" controls autoplay="True" >
                  <source src="/media/video1.mp4" type="video/mp4"/> 
                </video>
                  <div class="card-body foot">
                      <p class="card-text">Tillmans Corner</p>
                      
                      <button class="btn btn-primary btn-change">Add Notes</button>
                      <button class="btn btn-primary btn-change">Save Clips</button>
                  </div>
                  <div class="card-footer foot">
                    Card footer
                  </div>
                </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-4 mt-2 mt-2">
              <div class="card">
                <video width="auto" height="340" preload="auto" controls autoplay="True" >
                  <source src="/media/video2.mp4" type="video/mp4"/> 
                </video>
                  <div class="card-body foot">
                      <p class="card-text">RoundBerg</p>
                      <button class="btn btn-primary-outline btn-change">Add Notes</button>
                      <button class="btn btn-primary-outline btn-change">Save Clips</button>
                  </div>
                  <div class="card-footer foot">
                    Card footer
                  </div>
                </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-4 mt-2 mt-2">
              <div class="card">
                <video width="auto" height="340" preload="auto" controls autoplay="True" >
                  <source src="/media/video3.mp4" type="video/mp4"/> 
                </video>
                  <div class="card-body foot">
                      <p class="card-text">Perkins Rd</p>
                      <button class="btn btn-primary btn-change">Add Notes</button>
                      <button class="btn btn-primary btn-change">Save Clips</button>
                      <!-- <input type="button" value="Add Notes"> -->
                  </div>
                  <div class="card-footer foot">
                    Card footer
                  </div>
                </div>
          </div>
      
          <!-- third row -->
              
      
              <!-- fourth -->
              
                  </div> 
  </div>

  <!-- live view videos -->
  
</div>

