
{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
    <!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
<style>
  .card {
    background-color: #fff;
    border-radius: 10px;
    border: none;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,0.1), 0 0.25rem 0.53125rem rgba(90,97,105,0.12), 0 0.125rem 0.1875rem rgba(90,97,105,0.1);
    
}
.l-bg-cherry {
    /* background: linear-gradient(to right, #493240, #f09) !important; */
    background: linear-gradient(to right, #493240, rgb(13, 190, 187)) !important;
    color: #fff;
}

.l-bg-blue-dark {
    background: linear-gradient(to right, #493240, rgb(13, 190, 187)) !important;
    /* background: linear-gradient(to right, #373b44, #4286f4) !important; */
    color: #fff;
} 

.l-bg-green-dark {
    background: linear-gradient(to right, #493240, rgb(13, 190, 187)) !important;
    /* background: linear-gradient(to right, #0a504a, #38ef7d) !important; */
    color: #fff;
}

.l-bg-orange-dark {
    background: linear-gradient(to right, #a86008, #ffba56) !important;
    color: #fff;
}

.card .card-statistic-3 .card-icon-large .fas, .card .card-statistic-3 .card-icon-large .far, .card .card-statistic-3 .card-icon-large .fab, .card .card-statistic-3 .card-icon-large .fal {
    font-size: 110px;
}

.card .card-statistic-3 .card-icon {
    text-align: center;
    line-height: 50px;
    margin-left: 15px;
    color: #000;    
    position: absolute;pyt
    right: -5px;
    top: 20px;
    opacity: 0.1;
}

.l-bg-cyan {
    background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
    color: #fff;
}

.l-bg-green {
    background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%) !important;
    color: #fff;
}

.l-bg-orange {
    background: linear-gradient(to right, #f9900e, #ffba56) !important;
    color: #fff;
}

.l-bg-cyan {
    background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
    color: #fff;
}
/* css by fayyaz  */
.text {
    font-size: 25px !important;
    /* padding-left: 12px !important; */
    margin-left: 20px !important;
    color: white !important;
}

.card .card-statistic-3 .card-icon-large .fas, .card .card-statistic-3 .card-icon-large .far, .card .card-statistic-3 .card-icon-large .fab, .card .card-statistic-3 .card-icon-large .fal {
    font-size: 70px;
    margin-right: 20px;
}
h5.card-title {
    font-size: 18px !important;
    padding: 10px 0px 10px 17px !important;
    color: #fff;
    font-weight: 500;
}
.text_font {
    font-size: 16px !important;
    color: #fff !important;
    font-weight: 400 !important;
    padding: 0px 10px 0px 10px;
    font-family: 'Times New Roman', Times, serif !important;
}
.leaflet-container {
    /* background: #ddd; */
    background: rgb(13,190,185) !important;
    outline: 0;
}
.ct h3{
    text-align: center !important;
    color: #fff;
    text-transform:capitalize !important;
    padding-top: 5px;
}
.ctd h3{
    text-align: center !important;
    color: #000;
    font-weight: 600;
    text-transform:capitalize !important;
    padding: 5px 0px;
}
.crd{
    background: linear-gradient(to right, #493240, rgba(13, 190, 187, 0.5)) !important;
}

/* css by fayyaz  */
</style>
{% endblock stylesheets %}

{% block content %}

<div class="row mx-2 my-2" id="data">
    <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="card l-bg-cherry">
            <div class="card-statistic-3">
                <div class="mb-4">
                    <h5 class="card-title mb-0">Store Traffic Predictive</h5>
                </div>
                <div class="row align-items-center text_font mb-2 d-flex">
                    <div class="col-8">
                        <h4  style="color: #fff;">
                            {{predict}}
                        </h4>
                    </div>
                    <div class="col-4 text-right">
                        <span><i class="fas fa-user-shield" style="font-size: 20px; color:  rgb(146, 85, 85);"></i></span>
                    </div>
                </div>
                    <div class="progress mt-1 " data-height="5" style="height: 5px;">
                        <div class="progress-bar l-bg-cyan" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div>
                    </div>
            </div>
        </div>
    </div>
    <!-- second  -->
    <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="card l-bg-blue-dark">
            <div class="card-statistic-3 ">
                <div class="mb-4">
                    <h5 class="card-title mb-0">Store Total Count</h5>
                </div>
                <div class="row align-items-center text_font mb-2 d-flex">
                    <div class="col-8">
                        <h4  style="color: #fff;">
                            {{storetotalc}}
                        </h4>
                    </div>
                    <div class="col-4 text-right">
                        <i class="fas fa-file-signature"  style="font-size: 20px; color: rgb(146, 85, 85);"></i>
                    </div>
                </div>
                <div class="progress mt-1 " data-height="8" style="height: 5px;">
                    <div class="progress-bar l-bg-green" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- third -->
    <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="card l-bg-green-dark">
            <div class="card-statistic-3 ">
                <div class="mb-4">
                    <h5 class="card-title mb-0">Live Stores</h5>
                </div>
                <div class="row align-items-center text_font mb-2 d-flex">
                    <div class="col-8">
                        <h4  style="color: #fff;">
                            {{livets}}
                        </h4>
                    </div>
                    <div class="col-4 text-right">
                        <span><i class="fab fa-audible"  style="font-size: 20px; color: rgb(146, 85, 85);"></i></span>
                    </div>
                </div>
                <div class="progress mt-1 " data-height="8" style="height: 5px;">
                    <div class="progress-bar l-bg-orange" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- third -->
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card crd">
            <div class="card-title ct">
               <h3> Region Wise Live Stores </h3>
            </div>
            <div class="card-body">
            <canvas id="get_charts"  width="100%" height="50"></canvas>
          </div>
          </div>
         </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card crd">
            <div class="card-title ct">
                <h3>Month Wise Traffic Count</h3>
            </div>
            <div class="card-body">
              <canvas id="get_charts1"  width="100%" height="50"></canvas>
            </div>
          </div>
    </div>
    <div class="col-lg-12 col-md-12 col-md-12">
        <div class="card" >
            <div class="card-title ctd">
                <h3>States Pin by traffic count</h3>
            </div>
            <div class="card-body" >
              <div width="600" height="400" >{{map1| safe}} </div>
            </div>
          </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>
  
  const ctx = document.getElementById('get_charts').getContext('2d');
  const myChart = new Chart(ctx, {
      type: 'pie',
      data: {
          labels: {{zone|safe}},
          datasets: [{
              label: 'Total Live Store By Zone',
              data: {{market|safe}},
              backgroundColor: [
                  'rgba(255, 99, 132, 0.5)',
                  'rgba(0, 255, 0, 0.1)',
                  'rgba(255, 206, 86, 0.5)',
                  'rgba(75, 192, 192, 0.5)',
                  'rgba(153, 102, 255, 0.5)',
                  'rgba(255, 159, 64, 0.5)'
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(0, 255, 0, 0.5)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
          },
          legend:{
            display:true,
            labels:{
                fontColor:"white",
                fontSize:18,
            }
          },

      }
  });


  const ctx1 = document.getElementById('get_charts1').getContext('2d');
  
    const myChart1 = new Chart(ctx1, {
        type: 'line',
        data: {
            labels: {{store_count_date|safe}},
            datasets: [{
                label: 'Store Total Count By Date',
                data: {{store_count|safe}},
                backgroundColor: [
                    'rgba(255, 99, 132, 0.3)',
                    'rgba(54, 162, 235, 0.3)',
                    'rgba(255, 206, 86, 0.3)',
                    'rgba(75, 192, 192, 0.3)',
                    'rgba(153, 102, 255, 0.3)',
                    'rgba(255, 159, 64, 0.3)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            legend:{
              display:true,
              labels:{
                fontColor:"white",
                fontSize:18,
                }
            },
        }
    });
  </script>

{% endblock %}