{% extends "layouts/base.html" %}
{% load static %}
{% block bg %}bg{% endblock %}
{% block title %} Surveillance {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/scrollspy.css' %}">
<style>
  .card-footer {
    padding: 1.25rem 1.5rem;
    background: #323232 !important;
}
.card{
    background-color: #323232 !important;
    color: #fff !important;                
}
/* scroller */
.scrollbar {
    /* margin-left: 30px; */
    /* float: right; */
    height: 800px !important;
    /* margin-right: 50px; */
    /* width: 65px; */
    /* background: #fff; */
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 25px; }
    
    .scrollbar-juicy-peach::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px; }
    
    .scrollbar-juicy-peach::-webkit-scrollbar {
    width: 12px;
    /* margin-left: 50px; */
    background-color: #F5F5F5; }
    
    .scrollbar-juicy-peach::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-gradient(linear, left top, right top, from(#ffecd2), to(#fcb69f));
    background-image: -webkit-linear-gradient(left, #ffecd2 0%, #fcb69f 100%);
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%); }
    
/* scroller */
</style>
{% endblock stylesheets %}

{% block content %}
<!-- rgb(74, 71, 70) -->
<div class="card my-4">
  <div class="card-header">
    <form action=""  class="get_video_form" method="POST">
      {% csrf_token %}
      <div class="row">
        <div class="col-2">
          <div class="form-group">
            <label for="">Markets </label>
            <select name="market" id="market_names" class="form-control" required>
              <option value="">Select Market </option>
              {% for mrk in marks %}

              <option value="{{mrk.id}}">{{mrk.market_name}}</option>
              
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label for="">Stores</label>
            <select name="storesuid" id="StoresUID" class="form-control" required>
              <option value="">Select Stores </option>
            </select>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label for="">Channels</label>
            <select name="channel" id="" class="form-control" required>
              <option value="101" {% if request.channel == '101' %} selected {% endif %}>Camera 1</option>
              <option value="201" {% if request.channel == '201' %} selected {% endif %}>Camera 2</option>
              <option value="301" {% if request.channel == '301' %} selected {% endif %}>Camera 3</option>
              <option value="401" {% if request.channel == '401' %} selected {% endif %}>Camera 4</option>
            </select>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label for="">Date</label>
            <br>
            <input type="date" name="date" value="{{request.date}}" class="form-control" required>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label for="">Start Time</label>
            <input type="time" name="start_time" value="{{request.start_time}}" class="form-control" required>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label for="">End Time</label>
            <input type="time" name="end_time" value="{{request.end_time}}" class="form-control" required>
          </div>  
        </div>
      </div>
      <div class="row">
          <div class="col-3">
            <button type="submit" class="btn btn-success"> <i class="fa fa-play"></i> Play</button>
          </div>
          <div class="col-3">
            <button id="stop_button">Stop Streaming</button>
          </div>
      </div>
    </form>
  </div>
</div>

<div class="row mt-4" id="evnts"> 
  <div class="col-6 offset-3">
    {% if is_stream_active %}
      <div class="alert alert-danger" id="error_message"></div>
    {% endif %}
    {% if is_not_data_available %}
      <div class="alert alert-danger" id="error_message">
        No Data found. please check RTSP Credentials 
      </div>
    {% endif %}
  </div>          
    <div class="col-12">

        <div class="card" style="align-items: center;">
            {% if is_stream_active %}
              <img src="{% static 'video.png' %}" class="set_video" id="stream" alt="RTSP Stream">
            {% else %}
              <img src="{% static 'video.png' %}" style="width: fit-content; padding: 20px; align-items: center;">
            {% endif %}
        </div>
    </div>
</div>
 
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
  $(document).ready(function(){
    $('#market_names').change(function(){
      market_id = $(this).children("option:selected").val();
      
      $.ajax({
        url: '{% url "get_stores_ajax" %}',
        type: "GET",
        data: {
            'id': market_id,
        },
        success:function(data){
         stores_set = $('#StoresUID');
         stores_set.html('')

         console.log(data.length);
         if(data.length > 0)
         {
           $.each(data, function(index, items){
                stores_set.append('<option value="'+ items.store_UID +'">'+ items.store_name +'</option>');
              });
          }else{
            stores_set.append('<option value="0">No Store Found</option>');
          }
         }
      });
    });

    

    if ('{{is_stream_active}}' == 'True'){
            var socket = new WebSocket('ws://'+window.location.host+'/ws/video/');
            
            document.getElementById("stop_button").addEventListener("click", function(e) {
                e.preventDefault()
                socket.close();
                setTimeout(function(){
                  window.location.href = '{% url "surveillance" %}'
                }, 1000)
                // Send a message to the backend to stop the stream
                // console.log('Stoping the steams');
                // var sockets = new WebSocket('ws://'+window.location.host+'/ws/video/stop_stream/');
                // sockets.onopen = function() {
                //     console.log(sockets.send("stop_stream"));
                // };
              
            });
            
            window.onbeforeunload = function() {
              socket.close();
              
            };
            
            socket.onclose = function() {
              camera.close()
            };
            
            if (socket.readyState === WebSocket.OPEN) {
                socket.close();
            }

            socket.onmessage = function(event) {
                var img = document.getElementById('stream');
                var error_message = document.getElementById('error_message');
           
                if (event.data == 'Stream is not available') {

                    error_message.innerHTML = event.data;
                    error_message.style.display = "block";
               
                    console.log('errorororororororo not avalable');
                } else {
        
                    img.src = 'data:image/jpeg;base64,' + event.data;
                    error_message.style.display = "none";
                }
            };
            socket.onclose= function(event){
                console.log('Connection closed!', event)
            }
            socket.onerror=function(event){
                console.log('An error occur!', event)
            }
        }

  });
</script>
{% endblock javascripts %}
