.btn-change{
    background: rgb(13, 190, 187) !important;
    color: #fff !important;
    border: none !important;
    }

    .btn-change:hover{
        background: none !important;
        border: 1px solid rgb(13, 190, 187) !important;
        color: rgb(13, 190, 187) !important;
        transition: .5s all ease-in-out;
    }
    .btn-change1{
        border: 1px solid rgb(13, 190, 187) !important;
        color: rgb(13, 190, 187) !important;
    }
    .btn-change1:hover{
        background: rgb(13, 190, 187) !important;
        color: #fff !important;
        transition: .5s all ease-in-out;
    }
.ftext{
        margin-right: 15px !important;
    }
.fdate{
    margin-right: 15px !important;
}
.fdate input{
    border: 1px solid rgb(13, 190, 187) !important;
}
.flocation{
    margin-right: 15px !important;
}
.flocation .dropdown a{
    background: none !important;
    border: 1px solid rgb(13, 190, 187) !important;
}

.fday .dropdown a {
    background: none !important;
    border: 1px solid rgb(13, 190, 187) !important;
}

/* recent view css  */
.rheading{
    background-color: #fff !important;
    padding: 10px 0px;
}

/* Event css  */
.is{
    padding: 20px 0px !important;
    border-radius: 50px;
}
.search-bar{
    border-radius: 50px !important;
}
.check{
    border-bottom: 1px solid grey !important;
}

.color{
    background: #7a7676;
    color: black !important;
    border: 3px solid grey;
    margin-top: 10px;
    padding: 10px 0px;
}
.color div h6{
    font-weight: 800;
}
.scrollspy{
    width: 50px;
    height: 100%;
    overflow-y: scroll;
}

/* Events css  */

/* Surveillance  */
.views h6{
    margin: 10px 10px 0px 0px;
}
.flocation1 .dropdown .btn-secondary{
    background: rgb(13, 190, 187) !important;
    color: white !important;
    border: 1px solid rgb(13, 190, 187) !important;
}
.flocation1 .dropdown .btn-secondary:hover{
    background: none !important;
    color: rgb(13, 190, 187) !important;
    transition: .5s all ease-in-out;
}
.bg{
    background: rgb(74, 71, 70);
    color: white !important;
    margin-left: -10px !important;
    padding: 10px 10px;
}
.clr{
    color: white;
}
.smargin{
        margin-left: 10px;
        background: rgb(13, 190, 187) !important;
        border: 1px solid rgb(13, 190, 187) !important;
}
.smargin:hover{
    background: none !important;
    color:  rgb(13, 190, 187) !important;
    transition: .5s all ease-in-out;
    
}
/* Surveillance  */

/* clips */

/* clips */
/* change all graphs height */
.changeHeight{
    height: 600px !important;

}