<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Activation link has been sent Successfully!</h4>
    <p>You have successfully Created Deep Science AI Account to activate your account kindly check your email by</p>
    <a
        
    href="https://apps.rackspace.com/wmidentity/Account/Login?ReturnUrl=%2Fwmidentity%2Fconnect%2Fauthorize%2Fcallback%3Fresponse_mode%3Dform_post%26response_type%3Dcode%2520id_token%26redirect_uri%3Dhttps%253A%252F%252Fapps.rackspace.com%252Flogin.php%26client_id%3Dwebmail%26nonce%3D52d62cfd13238f4be123887184f555fd%26state%3D18c3e5de8b070ef02e2ebeaebc1bb481%26scope%3Dopenid%2520profile%2520email%2520webmail%2520openid">Click here
    
    </a>
    <!-- <p class="mb-0">Click here</p> -->
  </div>