{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} Store Traffic App
{% endblock title %}

{% block stylesheets %}
<style>
  .navbar {
    margin-left: -16px !important;
    /* background: #323232 !important; */
    /* color: black !important; */
  }

  .txt_clr a {
    /* color: #ffff !important; */
    padding-left: 5px;
  }

  .fdate {
    margin-right: 10px !important;
  }

  .fdate input {
    border: 1px solid rgb(13, 190, 187) !important;
  }

  .dropdown .btn-secondary {
    background: rgb(13, 190, 187) !important;
    color: #ffff !important;
    border: 1px solid rgb(13, 190, 187) !important;
  }

  .dropdown .btn-secondary:hover {
    background: none !important;
    color: rgb(13, 190, 187) !important;
    transition: .5s all ease-in-out;
  }
canvas#StoreTrafficGraph {
    height: 550px !important;
}
</style>
{% endblock stylesheets %}
{% block content %}
<!-- As a link -->
{% include 'StoreTraffic/navinclude.html' %}
<!-- dashboard main  -->

<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12">
    <div class="d-flex mx-2 my-2">
    <label for="month" class="dropdown my-2">Choose a Month</label>
      <select id="month" name="marketName" class="form-control" style="width: 400px; margin-left: 5px;">
        <option value="01">January</option>
        <option value="02">February</option>
        <option value="03">March</option>
        <option value="04">April</option>
        <option value="05">May</option>
        <option value="06">June</option>
        <option value="07">July</option>
        <option value="08">August</option>
        <option value="09">September</option>
        <option value="10">October</option>
        <option value="11">November</option>
        <option value="12">December</option>
    </select>
  </div>
    <!-- <div class="fdate">
      <input type="date" class="form-control" name="date" class="date" id="date1">
    </div> -->
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12">
    <div class="d-flex">
      <label for="mName" class="dropdown my-2">Choose a Store</label>
      <select id="mName" name="marketName" class="form-control my-1" style="width: 400px; margin-left: 5px;">
        {% for store in stores %}
        <!-- {{market}} -->
        <option value="{{store}}">{{store}}</option>
        <!-- <option selected>{{market}}</option> -->
        {% endfor %}
    </select>
  </div>
  </div>

    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Monthly Data</h5>
          <canvas id="StoreTrafficGraph" width="600" height="250"></canvas>
        </div>
      </div>
    </div>
  <div class="col-lg-6 col-md-6 col-sm-12">
    <!-- market store and data  -->
    <div class="d-flex justify ">
      <div class="col-lg-6 ">
        <div class="fdate">
          <label>Select Date</label>
          <input type="date" class="form-control" name="date"  id="mydate">
        </div>
      </div>
      <!-- Example single danger button -->
      <div class="form-group col-md-4">
        <div class="d-flex">
          <label>Choose a Market</label>
          <select id="marketName" name="marketName" class="form-control">
            {% for market in markets %}
            <option value="{{market}}">{{market}}</option>
            <!-- <option selected>{{market}}</option> -->
            {% endfor %}
          </select>
          <!-- <button class="btn btn-primary" id="submit_marketwise_store"></button> -->
        </div>
      </div>


    </div>
    <!-- market store and data  -->
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Market Wise Stores</h5>
        <!-- <canvas id="myline" width="600" height="400"></canvas> -->
        <canvas id="myline" width="600" height="400"></canvas>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12">
    <div class="fdate py-2 px-2">
      <label  for="selectdate">Select Date</label>
      <input id="selectdate" type="date" class="form-control" data-provide="datepicker">
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Top 10 Stores</h5>
        <canvas id="multibar" width="600" height="400"></canvas>
      </div>
    </div>
  </div>
</div>
<!-- dashboard main end -->
<!-- As a heading -->
{% endblock content %}

{% block javascripts %}

<!-- first graph -->
<script>
date1 = []
count1 = []
  $(document).ready(function() {
    month=$("#month").val();
    store_val= $("#mName").find(":selected").text();
    date1.splice(0,date1.length)
    count1.splice(0,count1.length)
    $.ajax({
      url: "{% url 'Month_and_store' %}",
      type:"GET",
      data:{month:month,store:store_val},
      success: function (data) {
        $.each(data, function(index,item){
          $.each(item, function(index,i){
          $.each(i, function(index,data){
            if(!$.trim(data.TotalCount)){
            }
            else{
              
              count1.push(parseInt(data.TotalCount))
              date1.push(data.date)   
            }
          })
        })
      })
      if(!$.trim(date1)){
        alert("data is not available kidly select another store")
      }
      Month_and_store(date1,count1)
      
    }
  })
  })


  $("#mName").on("change",function(){
    month=$("#month").val();
  store_val= $("#mName").find(":selected").text();
  date1.splice(0,date1.length)
  count1.splice(0,count1.length)
  $.ajax({
    url: "{% url 'Month_and_store' %}",
    type:"GET",
    data:{month:month,store:store_val},
    success: function (data) {
      $.each(data, function(index,item){
        $.each(item, function(index,i){
        $.each(i, function(index,data){
          if(!$.trim(data.TotalCount)){
          }
          else{
            
            count1.push(parseInt(data.TotalCount))
            date1.push(data.date)   
          }
        })
      })
    })
    if(!$.trim(date1)){
      alert("data is not available kidly select another store")
    }
    Month_and_store(date1,count1) 
  }
})
})

function Month_and_store(date1,count1){
  var ctx1 = document.getElementById('StoreTrafficGraph').getContext('2d');
    const labels = store
    if(window.myCharts != undefined)
      window.myCharts.destroy();
      window.myCharts = new Chart(ctx1, {
      type: 'line',
      data: {
        labels: date1,
        datasets: [{
          label: 'Total Count',
          data: count1,
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            
          ],
          borderColor: [
            'rgba(255, 99, 132, 1)',
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
            xAxes: [{
              display: true,
          scaleLabel: {
            display: true,
            labelString: 'Date'
    }
  }],
  yAxes: [{
    display: true,
    scaleLabel: {
      display: true,
      labelString: 'Count'
    },
    ticks: {
      
      min: 0,

      // forces step size to be 5 units
      stepSize: 5 // <----- This prop sets the stepSize
      }
    }]
  }
      },
    });

  }

</script>
<script>
stores = []
counttotal = []
$(document).ready(function(){  
  america_time = new Date().toLocaleString("en-US", {timeZone:
"America/Chicago"});
  yesterday_america = new Date(america_time)
  yesterday_america.setDate(yesterday_america.getDate()-1)
  yesterday_america.toDateString()
  am_month = yesterday_america.getMonth()+1;
  am_date = yesterday_america.getDate();
  am_year = yesterday_america.getFullYear();
  if(Object.keys(am_month).length === 0){
    am_month = "0"+am_month
  }
  if(Object.keys(am_date).length === 0){
    am_date = "0"+am_date
  }
  am_completeDate = am_year+"-"+am_month+"-"+am_date
  document.getElementById("selectdate").value = am_completeDate
  $.ajax({
    url: "{% url 'top_ten_stores' %}",
    type:"GET",
    data: {date:am_completeDate},
    success: function(data){
      $.each(data , function(index,i){
        $.each(i, function(index, j){
          if(!$.trim(j.totalcount)){
          }
          else{
            counttotal.push(parseInt(j.totalcount))
            stores.push(j.store_name)
          }
        })
      })
      top_ten_stores(stores,counttotal)
    }
  })
$('#selectdate').on("change",function(e){
  e.preventDefault();
  date = $("#selectdate").val();
  stores.splice(0,stores.length)
  counttotal.splice(0,counttotal.length)
  $.ajax({
    url: "{% url 'top_ten_stores' %}",
    type:"GET",
    data: {date:date},
    success: function(data){
      $.each(data , function(index,i){
        $.each(i, function(index, j){
          if(!$.trim(j.totalcount)){
          }
          else{
            counttotal.push(parseInt(j.totalcount))
            stores.push(j.store_name)
          }
        })
      })
      top_ten_stores(stores,counttotal)
    }
  })
})
})





function top_ten_stores(stores,counttotal){
  const ctx2 = document.getElementById('multibar').getContext('2d');
  const labels = stores
  const myChart2 = new Chart(ctx2, {
    type: 'bar',
    data: {
      labels: stores,
      datasets: [{
        label: 'Total Count',
        data: counttotal,
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(255, 206, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(255, 159, 64, 0.2)',
          'rgba(0, 255, 0, 0.2)',
          'rgba(0, 0, 255, 0.2)',
          'rgba(0, 255, 255, 0.2)',
          'rgba(255, 0, 255, 0.2)',
        ],
        borderColor: [
          'rgba(255, 99, 132, 1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 159, 64, 1)',
          'rgba(0, 255, 0, 1)',
          'rgba(0, 0, 255, 1)',
          'rgba(0, 255, 255, 1)',
          'rgba(255, 0, 255, 1)',
        ],
        borderWidth: 1
      }]
    },
    options: {
        scales: {
            xAxes: [{
              display: true,
          scaleLabel: {
            display: true,
            labelString: 'Stores'
    }
  }],
  yAxes: [{
    display: true,
    scaleLabel: {
      display: true,
      labelString: 'Count'
    },
    ticks: {
      
      min: 0,

      // forces step size to be 5 units
      stepSize: 5 // <----- This prop sets the stepSize
      }
    }]
        }
      
    }
  });
}
</script>

<script>
  
function getChart(totalCount, store) {
    var ctx1 = document.getElementById('myline').getContext('2d');
    const labels = store
    if(window.myCharts1 != undefined)
      window.myCharts1.destroy();
      window.myCharts1 = new Chart(ctx1, {
      type: 'bar',
      data: {
        labels: store,
        datasets: [{
          label: 'Total Count',
          data: totalCount,
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
          ],
          borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
            xAxes: [{
              display: true,
          scaleLabel: {
            display: true,
            labelString: 'Stores'
    }
  }],
  yAxes: [{
    display: true,
    scaleLabel: {
      display: true,
      labelString: 'Count'
    },
    ticks: {
      
      min: 0,

      // forces step size to be 5 units
      stepSize: 5 // <----- This prop sets the stepSize
      }
    }]
  }
      },
    });

  }
  </script>
  <script>
 const totalCount = []
const store = []
$(document).ready(function () {
  // getting date by ajax
  america_time = new Date().toLocaleString("en-US", {timeZone:
"America/Chicago"});
  yesterday_america = new Date(america_time)
  yesterday_america.setDate(yesterday_america.getDate()-1)
  yesterday_america.toDateString()
  am_month = yesterday_america.getMonth()+1;
  am_date = yesterday_america.getDate();
  am_year = yesterday_america.getFullYear();
  if(Object.keys(am_month).length === 0){
    am_month = "0"+am_month
  }
  if(Object.keys(am_date).length === 0){
    am_date = "0"+am_date
  }
  am_completeDate = am_year+"-"+am_month+"-"+am_date
  document.getElementById("mydate").value = am_completeDate
      market = $('#marketName').val();
      date = $("#mydate").val();
      store.splice(0,store.length);
      totalCount.splice(0,totalCount.length);
      $.ajax({
        url: '{% url "marketwise_stores" %}',
        type: 'GET',
        data: { market: market, date: date },
        success: function (data) {
          console.log("what is data from marketwise store ",data)
          $.each(data, function (index, val) {
            $.each(val, function (index, d) {
              totalCount.push(parseInt(d.TotalCount))
              store.push(d.store_name)
            })
          })
            getChart(totalCount, store);
        }
      })
function getChart(totalCount, store) {
    var ctx1 = document.getElementById('myline').getContext('2d');
    const labels = store
    if(window.myCharts1 != undefined)
      window.myCharts1.destroy();
      window.myCharts1 = new Chart(ctx1, {
      type: 'bar',
      data: {
        labels: store,
        datasets: [{
          label: 'Total Count',
          data: totalCount,
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
          ],
          borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
            xAxes: [{
              display: true,
          scaleLabel: {
            display: true,
            labelString: 'Stores'
    }
  }],
  yAxes: [{
    display: true,
    scaleLabel: {
      display: true,
      labelString: 'Count'
    },
    ticks: {
      min: 0,
      // forces step size to be 5 units
      stepSize: 5 // <----- This prop sets the stepSize
      }
    }]
  }
      },
    });

  }
  })
$('#marketName').on("change",function () {
      market = $('#marketName').find(":selected").text();
      date = $("#mydate").val();
      store.splice(0,store.length);
      totalCount.splice(0,totalCount.length);
      $.ajax({
        url: '{% url "marketwise_stores" %}',
        type: 'GET',
        data: { market: market, date: date },
        success: function (data) {
          $.each(data, function (index, val) {
            $.each(val, function (index, d) {
              totalCount.push(parseInt(d.TotalCount))
              store.push(d.store_name)
            })
          })
          if(!$.trim(totalCount)){
            alert("Selected Market Does not contain Data")
          }
          else{
            getChart(totalCount, store);
          }
        }
      })
    });
</script>
{% endblock javascripts %}