
{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} Store Traffic App
{% endblock title %}
{% block stylesheets %}
<style>
.hourly_table_and_graph {
    padding: 10px 0px;
    }
.card-title{
    padding: 10px 10px;
    background-color: rgba(0,0,0,.03);
    font-family: 'Times New Roman', Times, serif;
}
/* .table,thead,tbody,tr {
    padding: 0px 50px 0px 0px !important;
    margin: 0px 0px 0px 0px !important;
} */
.dataTable{
    padding: 10px 10px 10px 10px !important;
}
.card .table td, .card .table th {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
}
</style>
{% endblock stylesheets %}

{% block content %}
{% include 'StoreTraffic/navinclude.html' %}
<section class="hourly_table_and_graph">
    <div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="card" style="width: 40rem;">
            <div class="card-body">
                <h5 class="card-title">Traffic Summary</h5>
                <div class="row ">
                    <div class="col-sm-4">
                <div class="card-subtitle">
                    <select class="form-control" id="storeData" name="storeData" data-live-search="true">
                            {% for store in stores %}
                            <option >{{store}}</option>
                            {% endfor %}
                          </select>    
                    </div>
                    </div>
                          <div class="col-sm-4">
                        <input type="date" name="date" class="form-control ml-2" name="date" id="date">
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-primary ml-2" id="submit">Submit</button>
                    </div>
                    </div>
                    </div>
                    <!-- table-->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive-sm">
                                <table id="example2" class="table dataTable no-footer">
                                    <thead>
                                        <tr>
                                            <th>Attribute</th>
                                            <th>Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>


                                            <tr id="2Row 0" role="row">
                                                <td>Conversion</td>
                                                        <td>N/A</td>
                                            </tr>
                                            <tr id="2Row1" role="row">
                                                <td>Incoming Traffic Count</td>
                                                    <td id="val"></td>
                                            </tr>
                                            <tr id="2Row1" role="row">
                                                <td>Outgoing Traffic Count</td>
                                                <td id="val1"></td>
                                            </tr>
                                            <tr id="2Row3" role="row">
                                                <td>Total Sales</td>
                                                    <td>N/A</td>
                                            </tr>

                                        <tr></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- table-->
            </div>
        </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="card" style="width: 40rem;">
            <div class="card-title">
                <strong>Traffic Breakdown </strong>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <canvas id="myChart" width="707" height="282"></canvas>
                    </div>
                </div>       
            </div>
        </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="card">
                <div class="card-title mt-2">
                    <h2><strong>Hour-wise Traffic Breakdown</strong></h2>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card-body">
                    <div class="table-responsive-sm">
                    <table class="table" id="table1">
                        <thead>
                            <tr>
                                <th scope="col"><strong> Time Slots </strong></th>
                                <th scope="col">7AM-<br>8AM</th>
                                <th scope="col">8AM-<br>9AM</th>
                                <th scope="col">9AM-<br>10AM</th>
                                <th scope="col">10AM-<br>11AM</th>
                                <th scope="col">11AM-<br>12PM</th>
                                <th scope="col">12PM-<br>1PM</th>
                                <th scope="col">1PM-<br>2PM</th>
                                <th scope="col">2PM-<br>3PM</th>
                                <th scope="col">3PM-<br>4PM</th>
                                <th scope="col">4PM-<br>5PM</th>
                                <th scope="col">5PM-<br>6PM</th>
                                <th scope="col">6PM-<br>7PM</th>
                                <th scope="col">7PM-<br>8PM</th>
                                <th scope="col">8PM-<br>9PM</th>
                                <th scope="col">9PM-<br>10PM</th>
                                <th scope="col">10PM-<br>11PM</th>
                                <th scope="col">11PM-<br>12AM</th>
                          
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="tabletd">
                            <th scope="row"><strong>Count</strong></th>
                            <td>0</td>
                            <td>0</td>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>5</td>
                            <td>6</td>
                            <td>7</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>1</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            
                        </tr>
                    
                    </tbody>
                    </table>
                </div>
            </div>
            </div>
            </div>
        </div>
    </div>
</section>    
{% endblock content %}

{% block javascripts %}
<script>
    total = []
    $("#submit").on("click",function(){
        date=$("#date").val();
      store_val= $("#storeData").find(":selected").text();
      $.ajax({
        url: "{% url 'total' %}",
        type:"GET",
        data:{date:date,store:store_val},
        success: function(data ) {
            totalData = data.totalcount
            td=document.getElementById('val')
            td1=document.getElementById('val1')
            td.textContent = totalData
            td1.textContent = totalData
            
        }
      })
    })
</script>
<script>
    hours = []
    count = []
    $("#submit").on("click",function(){
        date=$("#date").val();
      store_val= $("#storeData").find(":selected").text();
      hours.splice(0,hours.length)
      count.splice(0,count.length)
      $.ajax({
        url: "{% url 'hourlyGraph' %}",
        type:"GET",
        data:{date:date,store:store_val},
        success: function(data ) {
            $.each(data , function(index, item){
                $.each(item, function(index, i){
                    count.push(i.hourlycount)
                    hours.push(i.hour)

                    
                })
            })       
          if(!$.trim(count)){
            alert("data is not available kindly")
          }
          var a=count.length
          var zero = 17-a
          let i;
          for (i=0;i<zero;i++){
              count.push(0)
          }
          
          store_and_date(count,hours)
          getData(count)
        }
      })
    })
    
function store_and_date(count,hours){
      var ctx1 = document.getElementById('myChart').getContext('2d');
        const labels = ["7pm","7pm","7pm","7pm","7pm","7pm","7pm","7pm","7pm","7pm","7pm","7pm"]
        if(window.myCharts != undefined)
          window.myCharts.destroy();
          window.myCharts = new Chart(ctx1, {
          type: 'line',
          data: {
            labels: ["7AM-8AM","8AM-9AM","9AM-10AM","10AM-11AM","11AM-12PM","12PM-1PM","1PM-2PM","2PM-3PM","3PM-4PM","4PM-5PM","5PM-6PM","6PM-7PM","7PM-8PM","8PM-9PM","9PM-10PM","10PM-11PM","11PM-12AM"],
            datasets: [{
              label: 'Total Count',
              data: count,
              backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
              ],
              borderColor: [
                'rgba(255, 99, 132, 1)',
              ],
              borderWidth: 1
            }]
          },
          options: {
            scales: {
                xAxes: [{
                  display: true,
              scaleLabel: {
                display: true,
                labelString: 'Hours'
        }
      }],
      yAxes: [{
        display: true,
        scaleLabel: {
          display: true,
          labelString: 'Count'
        },
        ticks: {
          
          min: 0,
    
          stepSize: 5 // <----- This prop sets the stepSize
          }
        }]
      }
          },
        });
    
      }
function getData(count){
    
    console.log("count in get data ", count)
    $('#table1 tbody td').remove();
    $('#tabletd').remove();

    var td="<td>Count</td>"
    td1= $("#tabletd").after(td)
    appendRow(count);
    // count.splice(0,count.length)
    
  
}

function appendRow(count) {
    
    var tableRef = document.getElementById('table1').getElementsByTagName('tbody')[0];
    console.log("tableRef ====== ",tableRef)
    var newRow   = tableRef.insertRow(tableRef.rows.length);
    console.log("newrow =====",newRow)
    let i;
    
    for(i=0; i < count.length+1; i++) {
        var newCell  = newRow.insertCell(i);
        
        
        if(i==0) {
            var newText  = document.createTextNode('Count')
            
            newCell.appendChild(newText);
        } 
        else{
            var newText  = document.createTextNode(count[i-1])
            newCell.appendChild(newText);
            
            
        }
        
    }
    

};

</script>    
{% endblock javascripts %}