
{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} Alert
{% endblock title %}

{% block content %}
<!-- As a link -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<div class="modal show" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Unauthorized User</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            You are not authorized to view this page
        </div>
        <div class="modal-footer">
            <button class ="btn btn-primary" id="exampleModalCenter" type="button" ><a href="{% url 'kpi_dashboard' %}" style='text-decoration: none;color:white'>Close</a></button>
        </div>
    </div>
</div>
  </div>

<script>
    $('#exampleModalCenter').modal({
        
        keyboard: true
})

</script>



{% endblock content %}