{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} Store Traffic App
{% endblock title %}

{% block content %}
{% include 'StoreTraffic/navinclude.html' %}


<div class="row">
    <div class="col">
        <button class="btn btn-primary" id="exportcsv">Export CSV</button>
        <div class="card">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            {% for data in marketscol %}
                            <th>{{data}}</th>
                            {% endfor %}
                            <!-- <th>HourlyCount</th> -->
                        </tr>
                    </thead>
                    <tbody>

                        {% for data in markets %}
                        <tr>
                            <td>{{data.market_name}}</td>
                            <td>{{data.store_name}}</td>
                            <td>{{data.store_UID}}</td>
                            <td>{{data.date}}</td>
                            <td>{{data.TotalCount}}</td>
                            <!-- <td><a class="btn btn-primary btn-sm" href="{% url 'hourlydata' %}" role="button">View</a></td> -->
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>

                </table>
            </div>
        </div>
    </div>
</div>

{% block javascripts %}
<script>
    $("#exportcsv").on("click", function(){
    var table = $("#dataTable").DataTable();
    var data = table.rows().data().toArray();
    // var columns = table.columns().data().toArray();
    // var column_names = table.columns().header().toArray();
    var column_names =["Market_Name", "Store_Name", "Store_UID", "Date", "TotalCount"];
    var csv = '"' + column_names.join('","') + '"\r\n';
    for(var i = 0; i < data.length; i++){
        csv += data[i].join(",") + "\n";
    }
    var csvData = 'data:application/csv;charset=utf-8,' + encodeURIComponent(csv);
    var csvAnchor = document.createElement('a');
    csvAnchor.setAttribute("href", csvData);
    csvAnchor.setAttribute("download", "Store_traffic_report.csv");
    csvAnchor.click();
});
</script>
<script>

    $(document).ready(function () {
        $('#dataTable').DataTable();
    });

</script>


{% endblock javascripts %}
{% endblock content %}