{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Cams-Traffic Count</title>
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css">
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
 {% block css %}{% endblock %}
        <style>
        .sb-nav-fixed #layoutSidenav #layoutSidenav_nav {
            width: 215px !important;
            height: 100vh;
            z-index: 1038;
        }
        .container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
            padding-left: 5px !important;
            padding-right: 5px !important;
        }
        </style>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Traffic Count</a>
            <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" />
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ml-auto ml-md-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <div style="padding: 10px;">{{user.username}}</div>
                        <a class="dropdown-item" href="{% url 'myLogout' %}">My Logout</a>
                    </div>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            {% if user.is_superuser %}
                            <div class="sb-sidenav-menu-heading">Core</div>
                            <a class="nav-link" href="{% url 'index' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard
                            </a>
                            <div class="sb-sidenav-menu-heading">Interface</div>
                            <a class="nav-link" href="{% url 'miscount' %}" >
                                <div class="sb-nav-link-icon"><i class="fa fa-chart-area" aria-hidden="true"></i></div>
                                Mis Report
                            </a>
                            <a class="nav-link" href="{% url 'store_timing' %}" >
                                <div class="sb-nav-link-icon"><i class="fa fa-chart-area" aria-hidden="true"></i></div>
                                Store Timing
                            </a>
                            <a class="nav-link" href="{% url 'rtspreport' %}" >
                                <div class="sb-nav-link-icon"><i class="fa fa-chart-area" aria-hidden="true"></i></div>
                                Rtsp Report
                            </a>
                            <a class="nav-link" href="{% url 'trafficcountreport' %}" >
                                <div class="sb-nav-link-icon"><i class="fa fa-chart-area" aria-hidden="true"></i></div>
                                TrafficCount Report
                            </a>
                            <a class="nav-link" href="{% url 'create_market' %}" >
                                <div class="sb-nav-link-icon"><i class="fa fa-university"></i></div>
                                Markets
                            </a>
                            <a class="nav-link" href="{% url 'create_programconfig' %}" >
                                <div class="sb-nav-link-icon"><i class="fa fa-home"></i></div>
                                Stores
                            </a>
                            <a class="nav-link" href="{% url 'create_manual' %}" >
                                <div class="sb-nav-link-icon"><i class="fa fa-adjust"></i></div>
                                Manual Count
                            </a>                          
                            
                            <a class="nav-link" href="{% url 'create_storestatus' %}" >
                                <div class="sb-nav-link-icon"><i class="fa fa-bullhorn"></i></div>
                                Create Store Status
                            </a>
                            <a class="nav-link" href="{% url 'view_main_setting' %}" >
                                <div class="sb-nav-link-icon"><i class="fa fa-cog"></i></div>
                                Main Setting
                            </a>
                            <a class="nav-link" href="{% url 'facerecognition'  %}" >
                                <div class="sb-nav-link-icon"><i class="fa fa-user"></i></div>
                                Face Recognition
                            </a>
                            <a class="nav-link" href="{% url 'gundetection'  %}" >
                                <div class="sb-nav-link-icon"><i class="fa fa-user"></i></div>
                                Gun Detection
                            </a>
                            <a class="nav-link" href="{% url 'anomalydetection'  %}" >
                                <div class="sb-nav-link-icon"><i class="fa fa-user"></i></div>
                                Anomaly Detection
                            </a>
                            <a class="nav-link" href="{% url 'camspreviewindex'  %}" >
                                <div class="sb-nav-link-icon"><i class="fa fa-eye"></i></div>
                                Cams Preview
                            </a>
                            <a class="nav-link" href="{% url 'PredictiveCount'  %}" >
                                <div class="sb-nav-link-icon"><i class="fa fa-line-chart" aria-hidden="true"></i></div>
                                Predictive Analysis
                            </a>

                            <a class="nav-link" target="_blank" href="{% url 'tasks_index'  %}" >
                                <div class="sb-nav-link-icon"><i class="fa fa-eye"></i></div>
                                Projects
                            </a>
                            {% else %}
                            <a class="nav-link" href="{% url 'taskuser'  %}" >
                                <div class="sb-nav-link-icon"><i class="fa fa-eye"></i></div>
                                Task List
                            </a>
                           {% endif %}
                            
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        Super Admin
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid mt-3">
                        <!-- <h1 class="mt-4" id="topheading">Traffic Count - Dashboard</h1> -->
                        {% for message in messages %}

                            <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                                <strong>Success Info!</strong> {{message.message}}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                            
                        {% endfor %}
                        
                       
                {% block body %}{% endblock %}
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2020</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
        
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'js/scripts.js' %}"></script>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
        <script src="{% static 'utils.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js"></script>
        <script src="{% static 'assets/demo/jquery-3.5.1.min.js' %}"></script>
        <script src="{% static 'assets/demo/chart-bar-demo.js' %}"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'assets/demo/datatables-demo.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    
       
       <script>
            Chart.platform.disableCSSInjection = true;
            
        </script>
                
  
</script>
        {% block js %}
        {% endblock js %}
    </body>
</html>



<!-- volt app sidebarToggle -->


 <nav id="sidebarMenu" class="sidebar d-lg-block text-white collapse" style="background-color: #3f3f3f;" data-simplebar>
          <div class="sidebar-inner px-2 pt-1">
            <div class="user-card d-flex d-md-none align-items-center justify-content-between justify-content-md-center pb-4">
              <div class="d-flex align-items-center">
                <div class="avatar-lg me-4">
                  <img src="/static/assets/img/team/profile-picture-3.jpg" class="card-img-top rounded-circle border-white"
                    alt="Bonnie Green">
                </div>
                <div class="d-block">
                  <h2 class="h5 mb-3">Hi, Jane</h2>
                  <a href="/page-sign-in.html" class="btn btn-secondary btn-sm d-inline-flex align-items-center">
                    <svg class="icon icon-xxs me-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path></svg>            
                    Sign Out
                  </a>
                </div>
              </div>
              <div class="collapse-close d-md-none">
                <a href="#sidebarMenu" data-bs-toggle="collapse"
                    data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="true"
                    aria-label="Toggle navigation">
                    <svg class="icon icon-xs" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                  </a>
              </div>
            </div>
            <ul class="nav flex-column pt-3 pt-md-0">
              <li class="nav-item">
                <a href="/" class="nav-link d-flex align-items-center">
                  <span class="sidebar-icon">
                    <img src="/static/assets/img/brand/light.svg" height="20" width="20" alt="Volt Logo">
                  </span>
                  <span class="mt-1 ms-1 sidebar-text">Deep Science AI</span>
                </a>
              </li>
              <li class="nav-item {% if 'dashboard' in segment %} active {% endif %}">
                <a href="{% url 'home' %}" class="nav-link">
                  <span class="sidebar-icon">
                    <i class="fas fa-chart-line"></i>
                  </span> 
                  <span class="sidebar-text">Dashboard</span>
                </a>
              </li>
              <li class="nav-item ">
                <a href="{% url 'events' %}" class="nav-link">
                  <span class="sidebar-icon">
                    <abbr title="Events"><i class="fal fa-calendar-week "></i> </abbr>
                  </span> 
                  <span class="sidebar-text">Events</span>
                </a>
              </li>
              <li class="nav-item ">
                <a href="{% url 'surveillance' %}" class="nav-link">
                  <span class="sidebar-icon">
                    <i class="fas fa-camera"></i>
                  </span> 
                  <span class="sidebar-text">Surveillance</span>
                </a>
              </li>
              <li class="nav-item ">
                <a href="{% url 'AI' %}" class="nav-link">
                  <span class="sidebar-icon">
                    <i class="fal fa-robot"></i>
                  </span> 
                  <span class="sidebar-text">AI</span>
                </a>
              </li>
              <li class="nav-item ">
                <a href="{% url 'clips' %}" class="nav-link">
                  <span class="sidebar-icon">
                    <i class="fas fa-file-video"></i>
                  </span> 
                  <span class="sidebar-text">Clips</span>
                </a>
              </li>
              <li class="nav-item {% if 'transactions' in segment %} active {% endif %}">
                <a href="/transactions.html" class="nav-link">
                  <span class="sidebar-icon">
                    <i class="fal fa-table"></i>
                  </span>
                  <span class="sidebar-text">Table</span>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'PredictiveDash' %}" class="nav-link">
                  <span class="sidebar-icon">
                    <i class="fal fa-table"></i>
                  </span>
                  <span class="sidebar-text">Predictive</span>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'BreakIn' %}" class="nav-link">
                  <span class="sidebar-icon">
                    <i class="fal fa-table"></i>
                  </span>
                  <span class="sidebar-text">BreakIn Alerts</span>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'dashboard' %}" class="nav-link">
                  <span class="sidebar-icon">
                    <i class="fal fa-table"></i>
                  </span>
                  <span class="sidebar-text">Store Traffic</span>
                </a>
              </li>
              <!-- <li class="nav-item {% if 'settings' in segment %} active {% endif %}"> 
                <a href="/settings.html" class="nav-link">
                  <span class="sidebar-icon">
                    <svg class="icon icon-xs" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"></path></svg>
                  </span>
                  <span class="sidebar-text">Settings</span>
                </a>
              </li> -->
              <!-- <li class="nav-item {% if 'tables-bootstrap-' in segment %} active {% endif %}">
                <span
                  class="nav-link  collapsed  d-flex justify-content-between align-items-center"
                  data-bs-toggle="collapse" data-bs-target="#submenu-app">
                  <span>
                    <span class="sidebar-icon">
                      <svg class="icon icon-xs" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5 4a3 3 0 00-3 3v6a3 3 0 003 3h10a3 3 0 003-3V7a3 3 0 00-3-3H5zm-1 9v-1h5v2H5a1 1 0 01-1-1zm7 1h4a1 1 0 001-1v-1h-5v2zm0-4h5V8h-5v2zM9 8H4v2h5V8z" clip-rule="evenodd"></path></svg>
                    </span> 
                    <span class="sidebar-text">Tables</span>
                  </span>
                  <span class="link-arrow">
                    <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                  </span>
                </span>
                <div class="multi-level collapse {% if 'tables-bootstrap-' in segment %} show {% endif %}"
                  role="list" id="submenu-app" aria-expanded="false">
                  <ul class="flex-column nav">
                    <li class="nav-item {% if 'bootstrap-tables' in segment %} active {% endif %}">
                      <a class="nav-link" href="/tables-bootstrap-tables.html">
                        <span class="sidebar-text">Bootstrap Tables</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li> -->
              <!-- <li class="nav-item {% if 'page-' in segment %} active {% endif %}">
                <span
                  class="nav-link  collapsed  d-flex justify-content-between align-items-center"
                  data-bs-toggle="collapse" data-bs-target="#submenu-pages">
                  <span>
                    <span class="sidebar-icon">
                      <svg class="icon icon-xs" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M2 5a2 2 0 012-2h8a2 2 0 012 2v10a2 2 0 002 2H4a2 2 0 01-2-2V5zm3 1h6v4H5V6zm6 6H5v2h6v-2z" clip-rule="evenodd"></path><path d="M15 7h1a2 2 0 012 2v5.5a1.5 1.5 0 01-3 0V7z"></path></svg>
                    </span> 
                    <span class="sidebar-text">Page examples</span>
                  </span>
                  <span class="link-arrow">
                    <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                  </span>
                </span>
                <div class="multi-level collapse {% if 'page-' in segment %} show {% endif %} " role="list"
                  id="submenu-pages" aria-expanded="false">
                  <ul class="flex-column nav">
                    <li class="nav-item">
                      <a class="nav-link" href="/page-sign-in.html">
                        <span class="sidebar-text">Sign In</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/page-sign-up.html">
                        <span class="sidebar-text">Sign Up</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/page-forgot-password.html">
                        <span class="sidebar-text">Forgot password</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/page-reset-password.html">
                        <span class="sidebar-text">Reset password</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/page-lock.html">
                        <span class="sidebar-text">Lock</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/page-404.html">
                        <span class="sidebar-text">404 Not Found</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/page-500.html">
                        <span class="sidebar-text">500 Not Found</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li> -->
              <!-- <li class="nav-item {% if 'components-' in segment %} active {% endif %}">
                <span
                  class="nav-link  collapsed  d-flex justify-content-between align-items-center"
                  data-bs-toggle="collapse" data-bs-target="#submenu-components">
                  <span>
                    <span class="sidebar-icon">
                      <svg class="icon icon-xs" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M4 3a2 2 0 100 4h12a2 2 0 100-4H4z"></path><path fill-rule="evenodd" d="M3 8h14v7a2 2 0 01-2 2H5a2 2 0 01-2-2V8zm5 3a1 1 0 011-1h2a1 1 0 110 2H9a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
                    </span> 
                    <span class="sidebar-text">Components</span>
                  </span>
                  <span class="link-arrow">
                    <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                  </span>
                </span>
                <div class="multi-level collapse {% if 'components-' in segment %} show {% endif %}" role="list"
                  id="submenu-components" aria-expanded="false">
                  <ul class="flex-column nav">
                    <li class="nav-item {% if 'components-buttons' in segment %} active {% endif %}">
                      <a class="nav-link" href="/components-buttons.html">
                        <span class="sidebar-text">Buttons</span>
                      </a>
                    </li>
                    <li class="nav-item {% if 'components-notifications' in segment %} active {% endif %}">
                      <a class="nav-link" href="/components-notifications.html">
                        <span class="sidebar-text">Notifications</span>
                      </a>
                    </li>
                    <li class="nav-item {% if 'components-forms' in segment %} active {% endif %}">
                      <a class="nav-link" href="/components-forms.html">
                        <span class="sidebar-text">Forms</span>
                      </a>
                    </li>
                    <li class="nav-item {% if 'components-modals' in segment %} active {% endif %}">
                      <a class="nav-link" href="/components-modals.html">
                        <span class="sidebar-text">Modals</span>
                      </a>
                    </li>
                    <li class="nav-item {% if 'components-typography' in segment %} active {% endif %}">
                      <a class="nav-link" href="/components-typography.html">
                        <span class="sidebar-text">Typography</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li> -->
              <li role="separator" class="dropdown-divider mt-4 mb-3 border-gray-700"></li>
              <!-- <li class="nav-item">
                <a href="https://appseed.us/admin-dashboards/django-dashboard-volt" target="_blank"
                  class="nav-link d-flex align-items-center">
                  <span class="sidebar-icon">
                    <svg class="icon icon-xs" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>
                  </span>
                  <span class="sidebar-text">Product Page</span>
                </a>
              </li> -->
              <!-- <li class="nav-item">
                <a target="_blank" 
                   href="https://appseed.us/support"
                   class="nav-link d-flex align-items-center">
                  <span class="sidebar-icon">
                    <svg class="icon icon-xs" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"></path></svg>
                  </span>
                  <span class="sidebar-text">Support</span>
                </a>
              </li> -->
              <!-- <li class="nav-item">
                <a target="_blank" 
                   href="https://appseed.us/admin-dashboards/django-dashboard-volt-pro"
                  class="btn btn-secondary d-flex align-items-center justify-content-center btn-upgrade-pro">
                  <span class="sidebar-icon d-inline-flex align-items-center justify-content-center">
                    <svg class="icon icon-xs" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.395 2.553a1 1 0 00-1.45-.385c-.345.23-.614.558-.822.88-.214.33-.403.713-.57 1.116-.334.804-.614 1.768-.84 2.734a31.365 31.365 0 00-.613 3.58 2.64 2.64 0 01-.945-1.067c-.328-.68-.398-1.534-.398-2.654A1 1 0 005.05 6.05 6.981 6.981 0 003 11a7 7 0 1011.95-4.95c-.592-.591-.98-.985-1.348-1.467-.363-.476-.724-1.063-1.207-2.03zM12.12 15.12A3 3 0 017 13s.879.5 2.5.5c0-1 .5-4 1.25-4.5.5 1 .786 1.293 1.371 1.879A2.99 2.99 0 0113 13a2.99 2.99 0 01-.879 2.121z" clip-rule="evenodd"></path></svg>
                  </span> 
                  <span>Upgrade to Pro</span>
                </a>
              </li> -->
            </ul>
          </div>
        </nav>