{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} Store Traffic App
{% endblock title %}

{% block content %}
{% include 'StoreTraffic/navinclude.html' %}


<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css" rel="stylesheet" />


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            font-size:x-large !important;
        }
        .header-menu .dropdown {
            line-height: 55px;
            margin-top: 0 !important;
            float: right;
        }


        #report-options-left {
            padding-right: 10px;
            display: inline-block;
        }

        .ft {
            margin-top: 30px !important;
            /*margin: 0px;
            padding: 0 !important;
            float:right;*/
            margin-left: 0 auto !important;
            margin-right: 0 auto !important;
            padding: 0 !important;
            float: right !important;
        }

        .aml-dropdown-item {
            display: block;
            padding: 6px 16px;
            clear: both;
            font-weight: normal;
            line-height: 24px;
            min-height: 36px;
            vertical-align: middle;
            color: rgba(0, 0, 0, 0.87);
            white-space: nowrap;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        .aml-dropdown-item:hover {
            text-decoration: none;
            color: rgba(0, 0, 0, 0.87);
            background-color: #eaecf1;
        }

        .aml-dropdown-item i {
            margin-right: 8px;
        }

        .sidebar-footer {
            /*bottom: 0;
            clear: both;
            display: block;
            padding: 5px 0 0;
            padding: 0 !important;
            position: fixed;
            width: 230px;
            background: #2A3F54;
            z-index: 999;*/
            padding: 0;
            width: 280px;
            position: fixed;
            left: 0;
            bottom: 0;
            z-index: 999;
        }

        .sidebar-footer a {
            padding: 7px 0 3px;
            text-align: center;
            width: 25%;
            font-size: 17px;
            display: block;
            float: left;
            background: #a0b1b9;
            cursor: pointer;
            color: black;
        }

        .btn-group>.btn {
            position: relative;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            letter-spacing: .3px;
        }

        .sidebar-footer a:hover {
            background: #a0b1b9;
            color: black;
        }

        /*legend bottom footer*/



        .notification {
            background-color: #555;
            color: white;
            text-decoration: none;
            padding: 15px 26px;
            position: relative;
            display: inline-block;
            border-radius: 2px;
        }

        .notification .badge {
            position: absolute;
            top: -10px;
            right: -10px;
            padding: 5px 10px;
            border-radius: 50%;
            background: red;
            color: white;
        }

        body {
            background: #f1f2f7;
        }

        #weatherWidget .currentDesc {
            color: #ffffff !important;
        }

        .traffic-chart {
            min-height: 335px;
        }

        #flotPie1 {
            height: 150px;
        }

        #flotPie1 td {
            padding: 3px;
        }

        #flotPie1 table {
            top: 20px !important;
            right: -10px !important;
        }

        .chart-container {
            display: table;
            min-width: 270px;
            text-align: left;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        #flotLine5 {
            height: 105px;
        }

        #flotBarChart {
            height: 150px;
        }

        #cellPaiChart {
            height: 160px;
        }

        .right-panel .navbar-brand img {
            max-width: 131px !important;
        }

        .user-area .user-avatar {
            height: 30px;
            width: 30px !important;
            background: white;
        }

        .navbar .navbar-nav li.active .menu-icon,
        .navbar .navbar-nav li:hover .toggle_nav_button:before,
        .navbar .navbar-nav li .toggle_nav_button.nav-open:before {
            color: #489306 !important;
        }

        .navbar .navbar-nav li>a:hover,
        .navbar .navbar-nav li>a:hover .menu-icon,
        .navbar .navbar-nav>.active>a {
            color: #489306 !important;
        }

        .navbar .navbar-nav li.menu-item-has-children a:hover:before {
            border-color: #5c932b #5c932b transparent transparent !important;
        }

        .menutoggle {
            text-align: center !important;
            float: right;
        }

        .dataTables_scrollHead {
            top: 16px;
        }

        .dataTables_scrollBody {
            max-height: 400px !important;
        }

        input[type="search"] {
            background: transparent;
            border: 1px solid #DEE2E6;
            border-radius: 3px;
            margin-left: 8px;
        }

        .circle-about {
            font-size: 21px;
            position: absolute;
            bottom: 16px;
        }

        .set-icon {
            display: flex;
        }

        .message.media-body.set-icon i {
            position: relative;
            top: 6px;
            margin-right: 15px;
        }

        .message.media-body.set-icon .fa-mobile {
            margin: -3px 16px 0 3px;
            font-size: 20px;
        }

        div#portals {
            padding: 0px;
        }

        div#portals button {
            background: transparent;
            color: black;
        }

        /*li.menu-item-has-children.dropdown.show > a {
            color: red !important;
        }*/
        .navbar .navbar-nav li>a {
            color: #3f4142 !important;
        }

        .header-left .search-trigger {
            display: none;
        }

        li.menu-item-has-children.dropdown.show>a,
        li.menu-item-has-children.dropdown.show>a>i.menu-icon {
            color: red !important;
        }

        aside .navbar .navbar-nav li.menu-item-has-children.show a:before {
            border-color: border-color: #ff000000 #f90000 #f70000 #ff000000 !important;
        }

        li.menu-item-has-children.dropdown.show>a:hover {
            color: red;
        }

        .navbar .navbar-nav li.active .menu-icon,
        .navbar .navbar-nav li:hover .toggle_nav_button:before,
        .navbar .navbar-nav li .toggle_nav_button.nav-open:before {
            color: #ff0000 !important;
        }

        .navbar .navbar-nav li>a:hover,
        .navbar .navbar-nav li>a:hover .menu-icon,
        .navbar .navbar-nav>.active>a {
            color: #ff0000 !important;
            font-weight: 700;
        }

        aside#left-panel::-webkit-scrollbar {
            width: 10px;
        }

        aside#left-panel::-webkit-scrollbar-button {
            background: white;
        }

        aside#left-panel::-webkit-scrollbar-thumb {
            background: #656565;
        }

        aside#left-panel::-webkit-scrollbar-track-piece {
            background: white;
        }

        ul#navi>p {
            color: #7c949f;
            position: relative;
            left: 67px;
            top: 5px;
            margin-bottom: 10px;
            width: 200px;
        }

        ul#navi>p i {
            position: relative;
            right: 38px;
        }

        body.open #navi>p {
            display: none;
        }

        body.small-device #navi>p {
            display: none;
        }

        #backbutton {
            cursor: pointer;
        }

        ul.vid {
            width: 200px;
        }

        ul.portal-select {
            width: 20% !important;
            border-top: 1px solid #eeeeee !important;
        }

        #portals .portal-select {
            top: 68px !important;
        }

        .dropdown.for-message.show .dropdown-menu {
            width: 12rem !important;
        }

        /*.dropdown.my_portal:after, .dropdown.my_portal1:after{
            content:">";
        }*/


        .dropbtn {
            background-color: #4CAF50;
            color: white;
            /*padding: 16px;*/
            font-size: 16px;
            border: none;
        }

        /* The container <div> - needed to position the dropdown content */
        .dropdown.my_portal,
        .dropdown.my_portal1 {
            position: relative;
            display: inline-block;
        }

        /* Dropdown Content (Hidden by Default) */
        .dropdown-content,
        .dropdown-content1 {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 310px;
            left: -150px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
            padding: 11px;
            max-height: 330px;
            overflow: auto;
        }

        /* Links inside the dropdown */
        .dropdown-content a,
        .dropdown-content1 a {
            color: black;
            padding: 0px 16px;
            text-decoration: none;
            display: block;
            line-height: 2;
        }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover,
        .dropdown-content1 a:hover {
            background-color: #ddd;
        }

        /* Show the dropdown menu on hover */
        .dropdown.my_portal:hover .dropdown-content,
        .dropdown.my_portal1:hover .dropdown-content {
            display: block;
        }

        /* Change the background color of the dropdown button when the dropdown content is shown */
        .dropdown.my_portal:hover .dropbtn,
        .dropdown.my_portal1:hover .dropbtn {
            background-color: #3e8e41;
        }

        .chat_btn {
            border-radius: 100%;
            position: fixed;
            bottom: 20px;
            right: 30px;
            z-index: 9;
            /* open to work chat*/
            display: none;
        }

        button.chat_btn>i {
            font-size: 40px;
        }

        .chat_close {
            display: none;
        }

        .chat_open {
            display: block;
            width: 30%;
            position: fixed;
            z-index: 9999;
            background: #017bffe6;
            right: 30px;
            bottom: 80px;
            bottom: 80px;
            border-radius: 5px;
        }

        .right-panel {
            background: #f1f2f7;
            margin-left: 0px;
            margin-top: 55px;
        }

        .header-menu .header-left {
            width: 100%;
        }
    </style>

</head>

<body>

    <style>
        table {
            border-radius: 2%;
        }

        table#example1 tbody tr>td:first-child {
            width: 7%;
        }

        div#DataTables_Table_0_filter {
            DISPLAY: NONE;
        }

        div#DataTables_Table_0_info {
            DISPLAY: NONE;
        }

        td.dataTables_empty {
            display: none;
        }

        .col-container {
            display: table;
            /* Make the container element behave like a table */
            width: 100%;
            /* Set full-width to expand the whole page */
        }

        .col {
            display: table-cell;
            /* Make elements inside the container behave like table cells */
        }

        span.select2-container input[type="search"] {
            position: relative;
            right: 10px;
        }

        .select2-container .select2-selection--single {
            height: 35px;
        }
    </style>
    <div class="col-container">
        <div class="row ">
            <div class="col-md-6">
                <div class="card " style="height:675px">
                    <div class="card-header">
                        <strong class="card-title">Traffic Summary</strong>
                    </div>
                    <form  method="post">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label>Store Name</label>
                                    <input type="hidden" name="strname" id="txtProductDescription1"
                                        class="form-control">
                                    <!-- <input type="hidden" id="date1" name="date1" class="form-control"> -->
                                    <select class="form-control selectpicker" id="storeData" data-live-search="true">
                                        {% for store in stores %}
                                        <option >{{store}}</option>
                                        {% endfor %}
                                      </select>
                                </div>
                                <div class="col-sm-4">
                                    <label>Date</label>
                                    <input id="startdate" name="startdate" onchange="getdata()" value="2022-01-03"
                                        class="form-control" type="date">
                                </div>
                                <div class="col-sm-4">
                                    <input type="submit" class="btn btn-primary" onclick="checkDate()" name="Submit"
                                        style="margin-top:30px;width:100%;">
                                </div>
                            </div>

                            <br>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="table-responsive-sm">
                                        <table id="example2" class="table dataTable no-footer">
                                            <thead>
                                                <tr>
                                                    <th>Attribute</th>
                                                    <th>Value</th>
                                                </tr>
                                            </thead>
                                            <tbody>


                                                <tr id="2Row 0" role="row">
                                                    <td>Conversion</td>
                                                    <td>7.14 %</td>
                                                </tr>
                                                <tr id="2Row 1" role="row">
                                                    <td>Incoming Traffic Count</td>
                                                    <td>14</td>
                                                </tr>
                                                <tr id="2Row 2" role="row">
                                                    <td>Outgoing Traffic Count</td>
                                                    <td>14</td>
                                                </tr>
                                                <tr id="2Row 3" role="row">
                                                    <td>Total Sales</td>
                                                    <td>1</td>
                                                </tr>

                                                <tr></tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>

            </div>

            <div class="col-md-6">
                <div class="card" style="height:675px">
                    <div class="card-header">
                        <strong class="card-title">Traffic Breakdown </strong>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card l6 m6 s12 center"><iframe class="chartjs-hidden-iframe" tabindex="-1"
                                        style="display: block; overflow: hidden; border: 0px; margin: 0px; inset: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"
                                        src="./Mobilelinkusa.com_files/saved_resource.html"></iframe>
                                    <br>
                                    <br>
                                    <canvas id="myChart" width="707" height="282"
                                        style="display: block; width: 707px; height: 282px;"></canvas>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>

    <div class="row">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Hour-wise Traffic Breakdown</strong>
            </div>
            <div class="card-body">
                <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive-sm">
                                <table id="example1" class="table">
                                    <thead>
                                        <tr style="background: #edeef3;">
                                            <th>Time Slots</th>
                                            <th>7AM-8AM</th>
                                            <th>8AM-9AM</th>
                                            <th>9AM-10AM</th>
                                            <th>10AM-11AM</th>
                                            <th>11AM-12PM</th>
                                            <th>12PM-1PM</th>
                                            <th>1PM-2PM</th>
                                            <th>2PM-3PM</th>
                                            <th>3PM-4PM</th>
                                            <th>4PM-5PM</th>
                                            <th>5PM-6PM</th>
                                            <th>6PM-7PM</th>
                                            <th>7PM-8PM</th>
                                            <th>8PM-9PM</th>
                                            <th>9PM-10PM</th>
                                            <th>10PM-11PM</th>
                                            <th>11PM-12AM</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr style="background: #f7f7f7;">
                                            <td style="color: #010101;">Count In</td>
                                            <td style="color: #010101;">0</td>
                                            <td style="color: #010101;">0</td>
                                            <td style="color: #010101;">0</td>
                                            <td style="color: #010101;">1</td>
                                            <td style="color: #010101;">4</td>
                                            <td style="color: #010101;">1</td>
                                            <td style="color: #010101;">2</td>
                                            <td style="color: #010101;">1</td>
                                            <td style="color: #010101;">2</td>
                                            <td style="color: #010101;">2</td>
                                            <td style="color: #010101;">0</td>
                                            <td style="color: #010101;">1</td>
                                            <td style="color: #010101;">0</td>
                                            <td style="color: #010101;">0</td>
                                            <td style="color: #010101;">0</td>
                                            <td style="color: #010101;">0</td>
                                            <td style="color: #010101;">0</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $("#store_id").select2({
                placeholder: "Select Store",
                allowClear: true
            });

            document.getElementById('Row 1').style.backgroundColor = "#f7f7f7";
            document.getElementById('Row 3').style.backgroundColor = "#f7f7f7";
            document.getElementById('2Row 0').style.backgroundColor = "#f7f7f7";
            document.getElementById('2Row 2').style.backgroundColor = "#f7f7f7";
            document.getElementById('2Row 4').style.backgroundColor = "#f7f7f7";
            document.getElementById('2Row 6').style.backgroundColor = "#f7f7f7";
            document.getElementById('2Row 8').style.backgroundColor = "#f7f7f7";

        });

        /*   $("#store_id").select2();  */
    </script>



    <script>
        // store and date wise count 
        date1 = []
count1 = []
$("#storeData").on("change",function(){
  date=$("#date1").val();
//   date=$("#storeData").val();
  store_val= $("#storeData").find(":selected").text();
  date1.splice(0,date1.length)
  count1.splice(0,count1.length)
  $.ajax({
    url: "{% url 'Month_and_store' %}",
    type:"GET",
    data:{month:month,store:store_val},
    success: function (data) {
      $.each(data, function(index,item){
        $.each(item, function(index,i){
        $.each(i, function(index,data){
          if(!$.trim(data.TotalCount)){
          }
          else{
            
            count1.push(parseInt(data.TotalCount))
            date1.push(data.date)   
          }
        })
        })
      })
      if(!$.trim(date1)){
        alert("data is not available kidly select another store")
      }
    //   Month_and_store(date1,count1)
      
    }
  })
})
  var ctx1 = document.getElementById('myChart').getContext('2d');
    const labels = [1,2,3,4,5,6,7,8,9,10]
    if(window.myCharts != undefined)
      window.myCharts.destroy();
      window.myCharts = new Chart(ctx1, {
      type: 'line',
      data: {
        labels: date1,
        datasets: [{
          label: 'Total Count',
          data: [3,4,5,6,7,8,9,6,4,3,2,9],
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            // 'rgba(54, 162, 235, 0.2)',
            // 'rgba(255, 206, 86, 0.2)',
            // 'rgba(75, 192, 192, 0.2)',
            // 'rgba(153, 102, 255, 0.2)',
            // 'rgba(255, 159, 64, 0.2)'
          ],
          borderColor: [
            'rgba(255, 99, 132, 1)',
            // 'rgba(54, 162, 235, 1)',
            // 'rgba(255, 206, 86, 1)',
            // 'rgba(75, 192, 192, 1)',
            // 'rgba(153, 102, 255, 1)',
            // 'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
            xAxes: [{
              display: true,
          scaleLabel: {
            display: true,
            labelString: 'Date'
    }
  }],
  yAxes: [{
    display: true,
    scaleLabel: {
      display: true,
      labelString: 'Count'
    },
    ticks: {
      
      min: 0,

      // forces step size to be 5 units
      stepSize: 5 // <----- This prop sets the stepSize
      }
    }]
  }
      },
    });

//   }

        // store and date wise count 
    </script>

    <script>

        function checkDate() {
            // var sdate = $('#startdate').val();
            var sdate = $("#date").val();
            var d = new Date();
            var month = d.getMonth() + 1;
            var day = d.getDate();
            var output = d.getFullYear() + '-' +
                (('' + month).length < 2 ? '0' : '') + month + '-' +
                (('' + day).length < 2 ? '0' : '') + day;

            if (sdate.length <= 0) { alert('Please select date....'); }
            else if ($("#txtProductDescription").val().length <= 0) { alert('Please select store....'); }
            else if (sdate >= output) { alert('Data is not available for current date'); return false; }

        }


        $("#store_id").change(function () { $("#txtProductDescription").val($("#store_id option:selected").text()); });






        function getdateConfirm() {
            var datTody = date();
            alert(moment().add(5, 'days').format('DD/MM/YYYY'));
        }

        $("#startdate").change(function () { $("#date").val($("#startdate").val()); });

        $("#startdate").change(function () { $("#date1").val($("#startdate").val()); });

        function getdata() {

            var abc = $('#startdate').val();
            $('#date').val(abc);
            $('#date1').val(abc);
        }
        function getstorename() {
            var abc = $("#store_id option:selected").text();
            $('#txtProductDescription').val(abc);
            $('#txtProductDescription1').val(abc);
        }

    </script>

{% endblock content %}